[2015-11-08 18:02] bmeck opened #1 "v8 list"
it would be nice to see the source of JS function frames during `bt`.

IE:
[code]

where foo.js is
[code]

[2015-11-08 18:21] indutny commented on #1
Thanks!

More description (in case if anyone will be interested in contributing this).

Workflow:

* `v8 list` should list all lines (`lldb` prints 7, but we don't have particular line information) of the source of the function from the current frame (frame may be selected with `f <number>`, as it regularly is in `lldb`)
* `v8 list <line-num>` should list 10 lines around `<line-num>` of the functi

[2015-11-08 18:22] bmeck commented on #1
I can try and add this

[2015-11-10 04:48] indutny opened #4 "v8 code-map"
Should dump all `Code` instances and their function names. Should be useful for on-demand profiling.

cc @brendangregg

[2015-11-11 01:19] #4 closed

[2015-11-11 01:20] indutny commented on #4
cc @brendangregg Please give it a try. It currently prints everything to stdout, but anyway.

[2015-11-11 21:21] brendangregg opened #6 "include string.h"
had to add:
[code]
to src/llnode.cc after code list change.

[2015-11-11 21:28] #6 closed

[2015-11-11 21:28] indutny commented on #6
Thank you, fixed.

[2015-11-12 18:43] indutny commented on #1
@bmeck if I understand it correctly we still don't have a way to dump the source of particular function using it's address. Is it the case?

[2015-11-12 18:49] bmeck commented on #1
not right now, was waiting on code map since address could refer to a code block or a v8 heap object

[2015-11-19 14:42] thlorenz opened #7 "v8 inspect and strings"
It makes sense to cut off strings when executing `v8 inspect <string address>` since most strings are very long, but I'd like to be able to override this via an option.
In some cases (like when looking at a path var, i.e. `fs.read`) it's crucial to see the whole string.

Right now I get:
[code]

But I'd like that to be:
[code]

Not sure if this could be a setting that one would change globally tha

[2015-11-19 14:46] indutny commented on #7
Maybe `v8 i -R 0x...`? `-R` stands for raw here.

[2015-11-19 19:34] #7 closed

[2015-11-19 19:34] indutny commented on #7
Fixed in, thank you!

[2015-11-25 07:20] yunong opened #9 "findjsobjects"
Great work Fedor. Any idea whether it's possible within LLDB to find heap objects? Something along the lines of https://github.com/joyent/mdb_v8/blob/master/docs/usage.md#finding-javascript-objects would be extremely helpful.

Actually, now that I think about it, what about porting some of the functionality over from mdb_v8 to lldb? The code for mdb_v8 is already open source, I wonder if it would

[2015-11-25 07:27] indutny commented on #9
Thank you for kind words, @yunong !

It is definitely possible, though, the code will be very different from the mdb_v8. The reason for this is that lldb does not provide any information about mmap regions. So llnode can't iterate through them.

While again possible in llnode, this feature is currently blocked by https://codereview.chromium.org/1437133006/ , and I am not sure if there will be any

[2015-11-25 07:33] indutny commented on #9
Oh, and regarding post mortem working group. When is the next meeting?

[2015-11-25 07:40] yunong commented on #9
We haven't set one up yet, but I think we should file an issue in that group to set one up, since this is something we should all sync up on.

The commands we use quite often are listed on this slide: http://www.slideshare.net/yunongx/debugging-node-in-prod/57

I think the most important, obviously out of all these would be some facility to walk and query all objects on the heap -- and something w

[2015-11-25 16:43] indutny commented on #9
Ok, so here is a map:

[code]

[2015-11-27 02:15] thlorenz commented on #7
Awesome!

[2015-11-30 22:19] yunong commented on #9
Cool! @indutny I created an issue here: https://github.com/nodejs/post-mortem/issues/12 to kick start a new post mortem WG meeting.

[2015-12-01 08:00] lucamaraschi commented on #9
:+1: @indutny I really like the effort and I am actually using it aside of mdb.
It might be useful, if the most agree on the approach, to map the commands to the one of mdb as the majority of "post-mortemers" are using it. Does it make sense to you?

@yunong I think the most used command is actually ::findjsobjects -p "name" ;-)

[2015-12-01 19:02] indutny commented on #9
Just pushed aliases for these commands.

[2015-12-01 19:05] lucamaraschi commented on #9
:+1:

[2016-05-25 18:26] indutny commented on #9
@hhellyer hello!

I just wanted to ask you if you are still interested in continuing your efforts? It looks like I may have some spare cycles for this, and could do something based on your approach, unless you feel like you want to do it.

Thanks!

[2016-05-27 08:50] hhellyer commented on #9
@indutny - I am definitely still interested and working on it. I looked into whether it would be possible to get memory regions out of lldb to fix problem with being unable to walk memory regions to remove the need to run pre-processing scripts and the lldb community was really helpful, I'm working on patches for that:

http://lists.llvm.org/pipermail/lldb-commits/Week-of-Mon-20160523/029772.html

[2016-05-27 13:29] indutny commented on #9
@hhellyer wooow, you rock 👍 ! Thank you for letting me know!

[2016-06-08 12:11] sjanuary opened #10 "'v8 help' output doesn't look right on Ubuntu Linux"
I followed the instructions as per Readme.MD for building on Linux, and the commands seem to work, but the help output is strange. I'm running on Ubuntu 14.04

![v8help](https://cloud.githubusercontent.com/assets/14993288/15893882/6a4ca64a-2d7a-11e6-9077-8c5c20cbbad4.PNG)

Has anyone seen this before?

[2016-06-08 13:11] rnchamberlain commented on #10
I also see scrambled console output from the v8 help command, when running the llnode plugin (built on Ubuntu 14.04) with lldb version 3.6.0 binaries. Howard says the problem goes away when he builds both llvm/lldb and llnode on the same platform.

[2016-06-08 13:56] indutny commented on #10
Confirmed, here is valgrind output:

[code]

Something fishy is happening in lldb... Investigating.

[2016-06-08 20:04] indutny commented on #10
Blargh, this seems to be a lldb bug, actually. Does not reproduce with lldb-3.8, updated readme.

[2016-06-08 20:05] indutny commented on #10
Should probably work with 3.7 as well. Do you mind if I'll close this, or is it critical for you to get it work with 3.6?

[2016-06-09 08:20] sjanuary commented on #10
Yes, ok to close if it works on a later version.  Thanks.

[2016-06-09 08:20] #10 closed

[2016-06-09 12:41] hhellyer opened #11 "Enable llnode to build against a local build of lldb."
On this branch https://github.com/hhellyer/llnode/tree/build_with_latest_lldb I have updated llnode.gyp so that you can build llnode against a locally built version of lldb. (I did this so I can test out my LLDB API changes to add memory region information but it's generally useful and might help other people who hit weird API problems.)

Mac OSX has stricter linking than Linux and requires that y

[2016-06-11 07:28] indutny commented on #11
This seems very reasonable and nice! Thank you for an awesome work on this. Please file a PR 😉

[2016-06-15 16:59] #11 closed

[2016-06-15 16:59] indutny commented on #11
#12 has added this feature, thank you!

[2016-06-16 12:25] hhellyer commented on #9
I’m tidying my code that provides the ability to locate the objects on the heap and dump them with a view to making it available for you to pull (if you want to).

Initially it will still be dependant on parsing the memory region data from the core dump before starting lldb. Do you want me to add the python scripts for this to those changes or shall I leave them as gists? (It looks like you might

[2016-06-16 16:13] indutny commented on #9
@hhellyer I think adding scripts to this repo should be the best for llnode, this way they could be kept up to date.

The python script is absolutely fine, I'll either port it to JavaScript later, or to C++ to embed it into the plugin.

These are my hopes too! Thank you so much for your work, and looking forward to see the patch. 👍

[2016-06-17 14:17] hhellyer commented on #9
I’ve created a pull request #13 which addresses this missing functionality.
It’s a bit different in that there are two commands, listobjects and listinstances. The first command prints a histogram of object counts and sizes with the objects grouped by map id. The second will print all the object instances that share a map.

[2016-06-22 15:56] rnchamberlain opened #14 "Javascript API for llnode?"
@indutny @hhellyer
Hi Fedor, we've been discussing the possibility of an NPM/Javascript API on top of llnode, so that diagnostic tools could be written that exploit the llnode+lldb libraries. An alternative to using the line-mode lldb debugger + plugin itself to read a core dump. For example, an interactive web viewer for core dumps that are stored on a node server. Also possibility of user add-on

[2016-06-22 17:13] indutny commented on #14
Hello!

I totally enjoy the idea, it sounds lovely! Considering that there are quite a lot of people interested in this kind of thing:

https://github.com/nodejs/post-mortem

Do you think it may be worth [opening an issue][0], and having some kind of discussion or even call?

This JS API sounds amazing!

[0]: https://github.com/nodejs/post-mortem/issues

[2016-06-28 19:57] indutny commented on #9
Implemented in c517e0ca09b714a487850ca74730d89f4a1c321d

[2016-06-28 19:57] #9 closed

[2016-07-12 14:55] hhellyer opened #17 "LLNode Windows support"
I thought I’d open this issue to discuss whether Windows support for LLNode is something anyone wants.

I’ve got and LLDB build up and running on Windows so I had a chance to try building LLNode on Windows. Running gyp_llnode worked fairly well.

The resulting Visual Studio project created by gyp required a little tweaking (mostly things I could google for). The main issue was that LLNode uses the

[2016-07-12 17:06] indutny commented on #17
I think this is good addition, but we will probably need to hook it up to node.js CI, so that it will always be tested too. cc @rvagg @Fishrock123

[2016-07-13 04:05] rvagg commented on #17
Opened an issue here to discuss the question of how a project might qualify to use our infra: https://github.com/nodejs/build/issues/448, I think it might be a tough call because it'll open floodgates for projects not clearly within the scope of the foundation.

[2016-07-13 04:08] indutny commented on #17
I don't think there is any reason for llnode to not move under Node.js Foundation. If this is a show stopper - what could be done to make this project qualify for this?

[2016-07-13 04:09] rvagg commented on #17
I have no problem with llnode to move into nodejs/, perhaps raise an issue in the diagnostics WG and ask if they'd like to take some broad responsibility for it?

[2016-07-13 04:33] indutny commented on #17
@rvagg absolutely?

@hhellyer will this scenario work for you, or would you prefer the project to remain independent?

[2016-07-13 04:35] indutny commented on #17
@rvagg that was "!" not "?", sorry for confusion.

[2016-07-13 12:04] hhellyer commented on #17
I think the moving the project under Node.js would be great, it would probably improve the visibility and hopefully adoption and participation as well.
I'm not sure I know enough about the Node.js build infrastructure for that part of this discussion but I can see why they'd be worried about the load from adding various other projects.

[2016-07-13 15:14] mhdawson commented on #17
The topic of finding a good home for work form the post-mortem WG is on the agenda for monday.  See: https://github.com/nodejs/post-mortem/issues/31.  And more specifically this issue is to discuss the issue for work like llnode (as well as others) from the post-mortem WG: https://github.com/nodejs/post-mortem/issues/30

So I was thinking it was more likely in the scope of the post-mortem WG than

[2016-08-31 13:10] axot opened #22 "CentOS 7 support"
Compile will fail, here is the log output

[code]

I tried add #define __STDC_FORMAT_MACROS preprocess, then compile passed.
But, when I open lldb, `help v8` command get nothing subcommands.

[code]

My g++ version
[code]

lldb version
[code]

[2016-08-31 14:31] indutny commented on #22
Thank you for reporting this!

Does this patch fix the compilation error?

[code]

Regarding `lldb`, what lldb source did you use when building `llnode`?

[2016-09-01 00:55] axot commented on #22
I has rebuild llnode with this patch, it works great!
Im using lldb 3.4.2 when build llnode `./gyp_llnode -Dlldb_dir=/usr/lib64/llvm/`.
Is this version was too old?

[code]

[2016-09-01 00:57] indutny commented on #22
It may be that something in headers doesn't match the lldb binary. I'll try to setup a CentOS environment this week to see if I can reproduce this.

[2016-09-08 08:32] #22 closed

[2016-09-09 17:41] indutny commented on #22
Sorry, I had no time week. @hhellyer or @yjhjstz , does it sound interesting to any of you?

[2016-09-12 10:10] hhellyer commented on #22
@indutny - Sorry I was out on vacation last week.
@axot - lldb-3.4 does seem a little old but from the comments above this looks resolved so if it's working now that's fine. Are there any outstanding issues?

[2016-09-12 10:20] axot commented on #22
@hhellyer yes, it's fine to compile now, but seems not working
[code]

[2016-09-12 10:33] hhellyer commented on #22
Do any of the commands work? For example does running:
`(lldb) v8 bt`
produce any useful output?
I've seen corrupted help text before. I think it's usually because the lldb headers don't quite match the version of lldb you are using but I think it can also be C++ linking issues if your plugin and lldb were built with different C++ compilers.

[2016-09-12 10:49] rnchamberlain commented on #22
re the scrambled console output see https://github.com/indutny/llnode/issues/10

[2016-09-12 11:49] axot commented on #22
[code]
Does this works?

[2016-09-12 15:24] hhellyer commented on #22
It ends with a segfault so I don't think it worked properly. :-)
Ubuntu has multiple lldb packages available (named lldb-3.5, lldb-3.6, lldb-3.7, lldb-3.8) and
I'm using lldb-3.8 - is there a similar setup on CentOS that will let you download one of those? (You should probably rebuild the plugin after changing versions of lldb.)

[2016-09-15 14:25] indutny commented on #22
@axot yeah, unfortunately this looks like a mismatch between source files and the `lldb` binary.

May I ask you if you used `-Dlldb_lib=...` when compiling llnode? This leads to crashes on some systems, and it may help to build without this define.

[2016-09-15 15:22] axot commented on #22
@indutny I tried compile llnode without `lldb_lib`, it seems not fixed.

[code]

[2016-09-16 15:40] indutny commented on #22
@axot I just reproduced it on a CentOS box. Unfortunately, I don't have any other advice at the moment, but to try building lldb from source and using that source to build llnode.

The symptoms seems to be binary vs headers compatibility-based, and I don't know how to resolve them at this point.

Sorry!

[2016-09-16 15:43] axot commented on #22
That's okay, I will try build lldb from source later. Thank you.

[2016-09-17 21:47] Fishrock123 opened #24 ""v8 bt" does nothing on OS X 10.10.5"
[code]

ping @indutny ?

[2016-09-17 21:49] Fishrock123 opened #25 "no commands work on OS X 10.10.5, lldb-340.4.119"
see also https://github.com/indutny/llnode/issues/24

`bt`, `nodeinfo`, `source`, etc don't work for me.

I did both the simple and hard installs, no difference.

[2016-09-17 21:49] Fishrock123 commented on #24
see https://github.com/indutny/llnode/issues/25

[2016-09-17 21:49] #24 closed

[2016-09-18 08:01] indutny commented on #25
That's unfortunate consequence of dependency management in `brew`. Current version works with `lldb-360.1.50`, and this dependency is hard-coded in it. (There may be a way to fix it in homebrew, but I'm not aware of it).

May I ask you to build from source, and use:

[code]

As a `lldb` source?

[2016-09-18 14:20] unikoid opened #26 "Is it possible to find all references to some object?"
Hello,

First, thank you for the job you've done, llnode is great debugging tool.

[mdb_v8 findjsobjects command](https://github.com/joyent/mdb_v8/blob/master/docs/usage.md#findjsobjects) has one useful feature:

Is it possible to achieve the same with lldb + llnode? If not, do you have any plans to implement this feature?

[2016-09-18 14:22] indutny commented on #26
cc @hhellyer

[2016-09-19 09:47] hhellyer commented on #26
It should be fairly practical. For the nodeinfo command I used the logic from @indutny's inspect functions to return object ref's directly (instead of as strings) which is the core of what this command would need.

I can try and take a look at doing this this week. Would it be best to make it an extension of findjsobjects so it's familiar to mdb_v8 users or a new command since it probably won't be

[2016-09-19 20:57] indutny commented on #26
It makes sense to me to create an extension for it. As an less compatible alias we could use `v8 findrefs`, I guess?

[2016-09-19 20:57] indutny commented on #26
@hhellyer thanks for the heads up!

[2016-09-20 08:25] unikoid commented on #26
Thanks a lot. It would be great to see this feature in llnode.

Little offtopic:
By the way, I guess it's possible to find refs by means of lldb scripting tools. This may be a temporary solution until you implement "native"`findrefs` cmd in llnode.
I've looked over lldb documentation briefly, but I'm unable to figure out any ways to call lldb plugin methods from script and access their output.
I w

[2016-09-20 12:21] hhellyer opened #27 "Strings missing from findjsobjects output."
The current implementation of the findjsobjects command doesn't include JavaScript strings as part of the totals. This is a bit of a problem if you are trying to use the output to diagnose what is filling the heap as strings are usually the largest consumer of heap space.

Example:
[code]

I've pushed a branch with a patch for this (I'll add the PR in a moment). There might be a reason for not inc

[2016-09-20 12:56] hhellyer commented on #26
@unikoid It's not looking to difficult to add. I'll hopefully put up a branch with a prototype sometime this week. Are there any features other than just simply listing all the objects that refer to another object that you need? (I was going to put the referring object id, it's name and the referring field name in the output.

How are you trying to load the plugin? From the python interface or C++

[2016-09-20 15:20] indutny commented on #26
@hhellyer I think there is a way to write a python script that will just execute various commands. I doubt that it will be efficient, though.

[2016-09-21 07:44] #27 closed

[2016-09-21 08:20] hhellyer commented on #26
The whole LLDB SB (Scripting Bridge) API is mirrored from C++ to Python using SWIG so theoretically you can do anything in Python that you can do in C++. Unfortunately I don't believe there's a call to load a plugin in the API. Searching for calls to the plugin loading function only hits the code for the "plugin load" command. I don't think the plugin loading feature is exposed.

You could get aro

[2016-09-21 09:00] rnchamberlain commented on #26
@yjhjstz has been using the C++ scripting interface to call plugin commands, see https://github.com/yjhjstz/llnode. I think he issues the 'plugin load' command first via the SBCommandInterpreter, then the llnode commands.

[code]
As Fedor says, it is likely to be a bit inefficient if the entire heap is being scanned

[2016-09-21 15:38] hhellyer commented on #26
@unikoid - I've put a (very rough) prototype here: https://github.com/hhellyer/llnode/tree/findreferences_prototype
feel free to give it a go. The code is definitely not final, apart from needing clean up and my to-dos fixing it also seems to have a bug finding references in arrays.
It's not production ready (I wouldn't rely on it yet)  but on the other hand that means it's a good time to suggest

[2016-09-22 08:37] unikoid commented on #26
@hhellyer Good news, thanks a lot!
I'll try it ASAP.

[2016-09-22 13:22] hhellyer commented on #26
@unikoid - I've pushed an update. References in arrays (or rather references in elements, indexed by number rather than name) should now be found.

[2016-09-23 12:37] unikoid commented on #26
@hhellyer I tried your prototype, but it seems to be not working for my case.
`v8 findrefs <addr>` just stucks and never returns on my core dump and lldb is eating 100% CPU at this time.
This may be a problem with my dump, though, as `v8 bt` gives me rather strange trace without JS frames at all, may be I've occasionally corrupted the dump itself. But other v8 commands work well on this dump.

I'l

[2016-09-23 13:15] hhellyer commented on #26
@unikoid - It should work if the findjsobjects command is working, they use the same code for locating all objects in memory.
Are you using the LLNODE_RANGESFILE to point to a file of memory ranges? (Or building against lldb-3.9 where this isn't required.)

[2016-09-23 13:24] unikoid commented on #26
@hhellyer
`findjsobjects` works fine and takes about two minutes. Yes, I use LLNODE_RANGESFILE.

[2016-09-23 14:34] hhellyer commented on #26
@unikoid Ok, I've tried it on a dump with a much fuller heap and it's taking a while for me too. I'll investigate further to see if I can find out why and if I can improve the performance.

[2016-09-23 15:34] hhellyer commented on #26
@unikoid Ok, so the problem was I was getting every property name in every object (inflating those to strings) then looking up the value for those. I've got a local patch that gets back all the name/value pairs and checks the value of the ref before inflating the key name. That results in a pretty huge speed up in local testing.

I'll tidy it up and push it to the prototype branch on Monday.

[2016-09-26 12:25] hhellyer commented on #26
@unikoid I've pushed an update that should give much better performance when running findrefs.

String creation is also the highest profiling part of the findjsobjects command so I might take a look and see if I can improve that sometime but if I do I'll do it under a separate issue.

[2016-09-28 08:23] unikoid commented on #26
@hhellyer thanks, I tried the latest version, but still no luck. I'm going to try to debug this myself today.

[2016-09-30 08:56] unikoid commented on #26
@hhellyer I tried to debug it a bit.
Looks like llnode finds some array with length `1919247987` and iterates over it. Hardly my application may produce THAT long array, so this may be a bug of GetType or smth. I continue investigation.

Could you please help me with one question:
I tried to inspect this long "array" with lldb, so I did:
[code]
while being inside of `PrintRefs` method. As far as I

[2016-09-30 09:14] hhellyer commented on #26
@unikoid It's the raw_ field that contains the address you should use with v8 inspect. The v8_ field is a reference to llnodes v8::LLV8 C++ object.

`v8 inspect 1499008805665`

should show you the object.

[2016-09-30 10:11] unikoid commented on #26
@hhellyer thanks.
Btw, do you have any ideas about any reason for this:
[code]
?

[2016-09-30 10:17] hhellyer commented on #26
I see that sometimes when the address doesn't point to a well formed object for some reason.

It might be worth just checking the dump you are using. How did you generate it?

I think the ones generated by --abort_on_uncaught_exception are likely to be safe but the rest of the time v8 could be doing anything. A dump generated mid-garbage collection is likely to be bad but the rest of the time depe

[2016-10-03 23:07] trevnorris opened #29 "v8 inspect command returns error"
Using lldb 3.8 on Ubuntu 16.04 (4.4.0-34 kernel) with latest llnode. Running on node v6.6.0 Release build.

Getting `error: Failed to evaluate expression` when attempting to `inspect` a function address. Here's an abbreviated log:
[code]

At the end I also show that `print` works on a fn address, and `inspect` works on an object.

[2016-10-04 01:07] indutny commented on #29
@trevnorris could you please give a try to https://github.com/indutny/llnode/pull/30 ? It appears to be fixing the problem locally.

[2016-10-04 08:07] trevnorris commented on #29
@indutny Confirmed that the patch fixes the issue. Thanks for fixing that so quickly!

[2016-10-04 08:36] #29 closed

[2016-10-04 09:47] indutny commented on #25
I believe it is just a version mismatch. Closing the issue until some feedback.

[2016-10-04 09:47] #25 closed

[2016-10-12 08:42] #26 closed

[2016-10-13 13:18] hhellyer commented on #1
@indutny v8 inspect -s  will dump the source of function given it's address. Does that mean we can close this now?

[2016-10-13 13:22] indutny commented on #1
@hhellyer yeah, I don't see any need in these extras anymore. Thanks!

[2016-10-13 13:22] #1 closed

[2016-10-17 12:20] gibfahn opened #37 "Post-mortem test suite"
I'd like to set up tests running llnode against coredumps. I've noticed that the current suite only tests attaching to a running process, and I'd like to extend it to run the same tests on an aborted process (I think the simplest method would be to run with `--abort-on-uncaught-exception` and then run the existing suite on the dump).

Does anyone have any views on how this should look (or how this

[2016-10-17 13:22] rnchamberlain commented on #37
+1 for this, I would suggest testing core dumps from segv crash and out of memory scenarios as well as uncaught exception.

[2016-10-18 23:17] indutny commented on #37
Sounds interesting indeed!

It'll most likely require a custom CI infrastructure with the core dumps enabled. cc @nodejs/jenkins-admins and @TheAlphaNerd  maybe?

[2016-10-20 16:49] rnchamberlain commented on #17
Trying LLDB/LLNODE on Windows. There seems to be a problem in API/SBDebugger.cpp (LLDB code). It has a hard-coded mangled name for the plugin entry point:
[code]
Not sure the comment is correct, as we have it working fine on OSX. Using Windows VS2015 the mangled name I get is `"?PluginInitialize@lldb@@YA_NVSBDebugger@1@@Z".` I'll do some more digging, then maybe raise and fix in LLDB.

[2016-10-24 12:25] hhellyer opened #41 "v8 inspect crashes on Linux with invalid options"
If you run v8 inspect -k 0x0 on Linux then llnode seg faults.
This is a problem with the handling of the command arguments in CommandBase::ParseInspectOptions.

[2016-10-24 12:32] hhellyer commented on #41
I've pushed a fix, it looks like there's a difference between how the two implementations of getopt_long report errors. On Linux the first argument of the arguments array passed to getopt_long is reported in the error message. On Mac (I think!) it's the first argument in the global argv variable, which is always the program name.

This is easier to explain with the fix from the above PR, which set

[2016-10-26 15:04] rnchamberlain commented on #17
Note for reference, re "getopt library isn’t on Windows" above. There is an alternative implementation inside LLDB, see getopt_internal() in lldb/source/Host/common/GetOptInc.cpp.

[2016-10-26 16:46] indutny commented on #17
@rnchamberlain I think if `getopt_internal` is linked without public exposure we may end up carrying `libgetopt` with us.

[2016-10-27 08:24] #41 closed

[2016-11-12 18:27] indutny opened #45 "Unchecked `sberror`"
Many of lldb errors are left unchecked in the source code, all of them should be checked for the failure. Proper error reporting should be in place.

[2016-11-15 09:34] indutny opened #47 "Release?"
@hhellyer @yjhjstz is there anything that you want to get in before the release? Should I cut it straight away?

[2016-11-15 09:36] hhellyer opened #48 "Remove InspectOptions parameter from GetTypeName"
We shouldn't need to pass an InspectOptions structure in to GetTypeName. Removing it would allow us to tidy up the places that call it, mainly llscan.cc.

[2016-11-15 09:38] hhellyer commented on #47
I don't have anything major. I'm looking at a bug in lldb at the moment.

[2016-11-15 09:42] yjhjstz commented on #47
just release.

[2016-11-15 09:43] indutny commented on #47
Done in 6cb550f

[2016-11-15 09:43] #47 closed

[2016-11-15 09:43] indutny opened #49 "Changelog"
I think we should have one.

[2016-11-15 09:48] indutny commented on #47
homebrew PR: https://github.com/Homebrew/homebrew-core/pull/6930

[2016-11-15 20:03] indutny opened #50 "Internal fields"
It would be lovely if we could inspect C++ from object's internal fields. This will require some additional constants to be exported.

[2016-11-17 09:43] hhellyer commented on #50
Agreed, we'd quite like to be able to get things like heap roots or the start and end of the various v8 heaps.
Being able to find out what callbacks are sat on the libuv event loop would also be good - though that might be part of having the heap roots since they'd be keeping objects alive.

[2016-11-18 02:52] indutny commented on #50
While this is cool too, I actually meant: http://bespin.cz/~ondras/html/classv8_1_1Object.html#a435f68bb7ef0f64dd522c5c910682448

[2016-11-21 17:40] Fishrock123 opened #53 "npm i llnode"
I think this should be possible to install on a global install via npm scripts, @indutny is there any reason you didn't go this route?

[2016-11-21 20:23] indutny commented on #53
I don't mind if someone will make it work :wink:

[2016-11-21 22:06] #50 closed

[2016-11-21 22:25] Fishrock123 opened #55 "`v8 bt` does not work"
llnode: v1.2.0

---

OS X: 10.10.5

[code]

---

[code]

---

XCode version: 7.2 (7C68)

[2016-11-21 22:28] indutny commented on #55
Alright, the version of lldb is most likely a culprit. Have you installed llnode from homebrew?

[2016-11-21 22:29] Fishrock123 commented on #55
@indutny Yes:

[code]

[2016-11-21 22:33] indutny commented on #55
@Fishrock123 yeah, it won't work I'm afraid. We need to figure out the way to use older lldb when building it from homebrew. Right now it picks the same for all OS X:

https://github.com/Homebrew/homebrew-core/blob/master/Formula/llnode.rb#L22-L25

I'll see if can figure something out.

[2016-11-21 22:34] indutny commented on #55
@Fishrock123 meanwhile you may want to use build instructions for previous lldb version:

https://github.com/nodejs/llnode/tree/142465c3dfa4b884358e8780df75583512a318aa#os-x

[2016-11-21 23:14] indutny opened #56 "1.3.1"
I'd like to cut 1.3.1 to fix #55 which is a homebrew formula issue.

Any objections? @hhellyer @yjhjstz

[2016-11-21 23:15] indutny commented on #55
We managed to fix it with a patched homebrew formula:

[code]

Will include these changes in next release.

[2016-11-22 00:37] indutny commented on #55
Opened https://github.com/Homebrew/homebrew-core/pull/7137 to gather feedback from Homebrew team.

[2016-11-23 16:25] hhellyer commented on #53
It would definitely be nice to have a simpler way to install llnode, especially on Linux.
I'm not 100% sure on using npm to install things that aren't going to be node code but there's also the possibility of adding a javascript API to llnode in which case it would make more sense.

It could write a plugin load command to ~/.lldbinit instead of needing root access to install the plugin in lldb's p

[2016-11-23 21:16] indutny commented on #53
Sure, go ahead!

[2016-11-23 21:17] #48 closed

[2016-11-23 21:17] indutny commented on #37
We have one test case that checks core dumps on OS X at the moment. It would be great to have something broader for other unixes too.

[2016-11-23 23:35] Fishrock123 commented on #53
Two things: make sure you register with a version that `llnode` has not used, like 0.0.0. Also, we should publish some basic install instructions there in the mean time.

[2016-11-24 11:13] hhellyer commented on #53
I've grabbed the llnode npm name. I've added @indutny as a collaborator. (Assuming that isn't someone else with the same picture on npmjs.org.)
I assume the npm installer should work for Mac and Linux (as a minimum) and I'll probably look at what the brew installer is doing.

[2016-11-24 11:37] indutny commented on #53
(Yep, that's me)

[2016-11-24 12:01] indutny commented on #55
Fixed by https://github.com/Homebrew/homebrew-core/commit/f399eaccf3e0db61a70af55571f3d37ce97937fe.

[2016-11-24 12:01] #55 closed

[2016-11-28 20:00] Fishrock123 commented on #56
@indutny please do :D

[2016-11-29 09:33] hhellyer commented on #56
Go for it.

[2016-11-29 12:20] indutny commented on #56
@hhellyer released 1.4.0 , we had a minor change in 4459f90.

[2016-11-29 12:20] #56 closed

[2016-11-29 12:26] indutny commented on #56
homebrew PR: https://github.com/Homebrew/homebrew-core/pull/7384

[2016-11-30 10:31] hhellyer commented on #53
@indutny Making progress on this but I've got a question, why did you use llnode.gyp instead of binding.gyp?

The background to this is that for some reason npm doesn't copy llnode.gyp unless you specify it explicitly (and then have to specify everything to copy). I think there's something special about <packagename>.gyp but I don't know what. Also you can't stop npm copying binding.gyp.
I may end

[2016-11-30 17:08] hhellyer commented on #53
I've pushed a branch https://github.com/hhellyer/llnode/tree/npm_prototype which you are welcome to try however it's not final, part of the reason for pushing to github is to make it easy to test it on more machines.

[2016-11-30 19:47] indutny commented on #53
@hhellyer splendid! Will take a look.

btw, I forgot to mention it, but I have solved similar problem in bud: https://github.com/indutny/bud

[2016-12-01 14:06] hhellyer commented on #53
Cool, I've flattened the branch a bit and copied your solution to <package>.gyp. I still need a better solution for not cloning gyp than my current one but I'm going to do some testing with different installs of lldb first in case I hit any show stoppers.

[2016-12-05 14:21] indutny commented on #53
@hhellyer looks pretty cool except for the JS code style ;) Feel free to open PR whenever you'll feel that it is ready and we will collaborate there on it!

Thank you

[2016-12-05 14:24] hhellyer commented on #53
I've updated the prototype, if anyone wants to try it. It's a bit neater and now outputs the lldb command to use to load the plugin.

I've a couple of questions before I turn it into a PR:
- Is there any use in putting up this up as an npm, for example with a version of 0.0.1, for testing? (Does that behave differently to a git install?)
- Does anyone have a better idea for locating gyp? (Better t

[2016-12-12 09:35] scottinet opened #61 "README asks to install a seemingly incompatible lldb version"
Hi!

The current llnode README documentation states that the lldb version to install is `3.8`. Well... I copy/pasted the README installation instructions, but all I got when trying to load a coredump is another coredump from lldb.

The coredump I try to load is generated by a process running either under node 4.6.1 or 6.9.1 (I tried both):

[code]

Same thing happens with:

* lldb 4.0
* with or wi

[2016-12-12 10:00] hhellyer commented on #61
Personally I use lldb-3.9 if I'm using a pre-built version otherwise I usually use the head of the lldb development stream built locally. I've tested with several versions of lldb and so long as the headers match up llnode should work. I'm not sure what happens if you run make install when you have multiple versions of lldb installed - IIRC Ubuntu has packages for lldb 3.6, 3.7, 3.8 and 3.9 availa

[2016-12-12 10:15] rnchamberlain commented on #61
Agree the Linux build instructions in the README need improvement - so the header install and the configure commands are more general, not pointing at 3.8 specifically.

We want folks to get to LLDB 3.9 if possible so that the findjsobjects command works without the need to use LLNODE_RANGESFILE and the scripts.

[2016-12-12 10:24] rnchamberlain commented on #61
Also the `sudo make install-linux` step might be a problem, if there are multiple copies of LLDB installed.

[2016-12-12 10:55] scottinet commented on #61
That's definitly a lldb problem, not a llnode one. As I said, I just wanted to bring your attention on the fact that I was unable to load coredumps with lldb 3.8 and up, for some reason.

I'm currently running on a Debian Jessie docker image, and installed the following packages from lldb nightlies directly (http://apt.llvm.org/):

* clang-3.8
* lldb-3.8
* lldb-3.8-dev
* python-3.8-lldb

The resul

[2016-12-12 11:51] hhellyer commented on #61
For Ubuntu 1.10 there are multiple lldb levels (up to 3.9) available in the default Ubuntu repositories.
I think only some of these actually link lldb to the lldb-3.x binary. (3.9 doesn't seem to, Ildb-3.8 does.)
I think it might be worth updating the npm installer to search for the most recent lldb available on Linux. My main issue there is I'm not sure what should win, the default "lldb" version

[2016-12-12 14:12] scottinet commented on #61
Trying to isolate the problem, I created a fresh Debian Jessie server and reran tests:

* no docker involved
* fresh lldb 3.8 install from Debian repositories, not from the nightly builds  (`apt install lldb-3.8 lldb-3.8-dev python-lldb-3.8)

=> lldb still crashes with a segfault when trying to load a node-generated coredump.

From where I stand, I cannot debug node coredumps with lldb 3.8 and up.

[2016-12-12 14:22] rnchamberlain commented on #61
Works OK for me on Ubuntu Xenial and lldb 3.9, using a dump from node -abort-on-uncaught-exception
[code]
I had a look on the lldb bugzilla here https://llvm.org/bugs/ but nothing immediately stands out. It could be something specific in the dump that lldb is failing on. Agree its an lldb issue not llnode, but yes we would be interested to follow up. Using lldb or gdb to get the native stack trace

[2016-12-12 14:31] hhellyer commented on #61
We are interested, we've actually put in a few fixes to lldb but I think the latest of those are only in the lldb 4.0 stream which hasn't released here. Although it's not an llnode issue it's something other users may see and I think you might be hitting a similar issue to the one reported in the comments here (also reported today):
https://developer.ibm.com/node/2016/08/15/exploring-node-js-core-

[2016-12-12 14:38] scottinet commented on #61
@rnchamberlain > your example work perfectly fine for me, too.

The problem comes from the way I'm generating core dumps. I need to get them programatically without killing my project, so I use [gcore](https://www.npmjs.com/package/gcore), which itself uses [google coredumper](https://code.google.com/archive/p/google-coredumper/).
It seems that, starting from 3.8, lldb cannot load these coredumps

[2016-12-12 14:41] rnchamberlain commented on #61
Ah, we have seen some issues with gcore generated dumps. Though we want those to work too!

@hhellyer the one reported on your blog has the same stack trace is this bugzilla
https://llvm.org/bugs/show_bug.cgi?id=25106

[2016-12-12 16:36] rnchamberlain commented on #61
Reproduced the crash on lldb 3.9 using a core dump generated by the gcore npm module, as above. With some lldb logging switched on it seems to be finding threads ok but then hits an assert in Plugins/Process/elf-core/ThreadElfCore.cpp:

[code]

[2016-12-12 16:58] hhellyer commented on #61
Unfortunately I've tried the gcore npm on two linux VM's (Ubuntu and Fedora) and it doesn't work on either.
You could try generating a core using the gcore program (which cores with gdb) with something like:
`child_process.execFileSync('/usr/bin/gcore', [process.pid]).toString();`
instead. lldb 4.0 should be able to open that.

[2016-12-13 09:36] scottinet commented on #61
I agree, and since Google coredumper doesn't seem to be maintained since 2008, problems will only get worse.
I've done some researches, and I couldn't find a more portable way to get a coredump programatically than using gcore either, so that's what I'll do.

I'll also raise an issue on the npm/gcore project to prevent other people using it if they plan to use llnode.

Thanks a lot for your help.

[2016-12-13 09:48] hhellyer commented on #61
@scottinet - Did you manage to get a core dump you could open in by exec'ing gcore? Are you able to investigate your original problem now?

(Linux doesn't have a core dump API so we do end up using work around like running gcore.)

With regards to the original problem would it make sense to update the README when we put the npm up? Hopefully that'll become the standard install process and we'll ne

[2016-12-13 10:16] scottinet commented on #61
Well... no. :-(

I was able to get a coredump just fine, after deactivating ptrace protection.

But when I try to load it, lldb hangs indefinitely (3.8 and 3.9), and lldb-4.0 segfaults:

[code]

[2016-12-13 10:26] scottinet commented on #61
About the README file, I don't have an opinion except, maybe, making it clearer what LLDB version is used (for instance using env variables). Using NPM is fine by me too. Either way, I found it easy and straightforward to install llnode.

[2016-12-13 10:28] hhellyer commented on #61
The hang on 3.8 and 3.9 was this:
https://llvm.org/bugs/show_bug.cgi?id=26322

I've not hit a crash with 4.0 though I've been using builds out of my local workspace. Are you running the 32 bit version of lldb? I've no idea if that would make a difference but I've never tried that and it's possible there might be an issue if your original core dump from node is from a 64 bit process.

[2016-12-13 11:22] scottinet commented on #61
Oh god, didn't thought of that. And you're right: llvm 4.0 toolchain seems to be only available for i386 right now. I'll try to compile it for amd64 manually but I won't spend much time on this, and I'll probably keep an eye and grab it again once it's available in 64 bits.

[2017-01-09 17:28] evantorrie opened #63 "Advice on how to debug llnode plugin?"
This isn't so much an issue, as just a request for advice.

I'm interested in hacking on llnode, but I'm brand new to lldb.  Do you have any advice on how to debug the llnode extension while it's running inside lldb on a node corefile.  I did a search for debugging lldb under lldb, but didn't turn up anything obvious.

Thanks.

[2017-01-09 17:34] indutny commented on #63
Hello!

Thank you for your interest.

It is pretty easy to debug it:

1. just build it in Debug mode
2. open lldb and run `plugin load /path/to/debug/llnode.dylib`
3. open another `lldb -p <pid of first lldb>`
4. set breakpoint to some of llnode's functions
5. run `continue` in second lldb
6. use first lldb

[2017-01-10 01:10] evantorrie commented on #63
I've been trying on Linux -- and not so successful (e.g. lldb coredumping).

Let me try on MacOSX.

[2017-01-10 09:46] hhellyer commented on #63
@evantorrie - It could be a mismatch between the lldb headers you used and the version of lldb you are running. That might make this a good test case for trying the npm installer:
https://www.npmjs.com/package/llnode

It should print out the choices it makes about what to download (I think I made it verbose enough) so that might help with configuring a clone from github to do a local build later o

[2017-01-25 10:22] hhellyer commented on #53
@Fishrock123 - Can I close this now? (Or can you?)

[2017-01-30 14:06] natorion opened #64 "Upstream llnode to V8"
I recently had a chat with @indutny about llnode and concluded that upstreaming it to V8 might make sense. Let's start the discussion if it really makes sense and how it roughly could be accomplished.

cc @ofrobots @bmeurer @hashseed

[2017-01-30 14:59] mhdawson commented on #64
Please include me in the discussion.

[2017-01-30 16:02] indutny commented on #64
The pros that I see:

* Tighter integration with V8's changes

Cons:

* Google-specific toolchain (i.e. GN, or something) that will be used

[2017-01-30 17:13] Fishrock123 commented on #64
Won't this make it difficult to contribute to?

[2017-01-30 17:16] indutny commented on #64
@Fishrock123 this may be another downside.

@natorion perhaps, the best way forward on this for now would be to try to integrate this with V8's test suite. I suppose this means porting the tests to `d8` (or writing a wrapper), but whatever the required changes are - they can be upstreamed back to this repo at any time. Also, I can help you with anything you need.

[2017-01-30 22:30] mhdawson commented on #64
I think one of the main dependencies that llnode depends on is the metadata which is tied to v8, would integrating that or whatever generation/upkeep is needed for that metadata into v8 be a good first step ? Then the existing project could be used to work with cores generated from any project using v8, not just node.

[2017-01-30 22:37] indutny commented on #64
@mhdawson the metadata is already integrated in V8. llnode pulls it from it, and actually works with any project using V8 at the moment (as long as post-mortem data was enabled during the build).

[2017-01-31 04:30] misterdjules commented on #64
What would "upstreaming llnode to V8" mean in more details? Besides llnode, there is an ecosystem of post-mortem debugging tools for V8 (IBM's IDDE, mdb_v8, etc.) and I would think that we'd want that ecosystem to strive. How would that endeavor contribute to that?

[2017-01-31 14:25] mhdawson commented on #64
@indutny ok thanks, for some reason I thought there were extra structures that we maintain for use by mdb/llnode but maybe those are just additions for node.js ?

[2017-01-31 14:49] natorion commented on #64
@indutny to clarify: You mean porting https://github.com/nodejs/llnode/tree/master/test to be runnable in d8 and importing those tests into the V8 repo? I am not sure how this might help?

@mhdawson including relevant folks was the intention of a public issue :-).

[2017-01-31 15:57] mhdawson commented on #64
In response to the comment from @misterdjules about how to support the broader set of tools, I can see how the code that pulls together the information needed by the commands would fit nicely in v8 so that when changes were made there, the corresponding changes would be made at the same time.  The code that integrates into the debugger I'm less sure about.  What we'd been discussing earlier was to

[2017-01-31 17:22] misterdjules commented on #64
@mhdawson

Can you be more specific? There's already code in V8 that extracts the metadata needed by sone of the post-mortem debuggers, see https://cs.chromium.org/chromium/src/v8/tools/gen-postmortem-metadata.py. Were you thinking of something different?

I don't understand what you mean by that.

Are you referring to nodejs/post-mortem#37?

[2017-01-31 21:27] mhdawson commented on #64
My understanding that in addition to the meta data, the implementations of commands in llnode  still have additional dependencies on the v8 implementation such that changes in v8 could necessitate changes in the command implementations to change (ie not everything is abstracted out by the metadata), its that code that I can see a benefit to living more closely with v8.

Other parts of the implemen

[2017-02-01 10:16] hhellyer commented on #64
Since I’ve spend a fair while looking at both llnode and lldb here’s my thoughts. I’m probably not going to be making the decision but hopefully these will be useful to whoever does. (Feel free to ignore, refute or dispute any of them!)

llnode is a bit of a misnomer - most of the llnode code relates to exploring V8 structures using calls into lldb, llv8 would almost be a better name. (Sorry @indu

[2017-02-01 23:13] mhdawson commented on #64
@hhellyer  In terms of platform support, I think what is important to us (Node community)  is that platforms that Node supports (which includes windows etc.) are addressed.   So I'd be considering not if v8 cares about those platforms but how integration affects the ability of the node community to continue to support our stated platforms.  As you say the algorithms are linked to v8 so if we can m

[2017-02-06 23:06] indutny commented on #64
Alright, there is so much to answer!

The benefit of `llnode` here is that it potentially can work across all supported platforms (it works everywhere except Windows at the moment, and this is fixable). Having some sort of integration with V8 simplifies management of our "bindings" to V8 internals.

Right now we track all internal representation changes in V8 from one node.js release to another to

[2017-02-06 23:31] misterdjules commented on #64
@indutny

Does it work on SmartOS? Even if it worked on SmartOS, does it provide at least the same features as all other post-mortem debugging tools?

What precisely do you mean by "some sort of integration"?

Also, what precisely do you mean by "bindings"? Do you mean the algorithms used by post-mortem debugging tools to determine the nature of JS objects?

Do you mean that an additional API and

[2017-02-07 00:15] indutny commented on #64
@misterdjules

I haven't tested it on Solaris yet. Does `lldb` work there? Feature-wise, I think it provides very similar functionality to mdb.

V8 could potentially export byte-code-like stubs that would abstract away some implementation details from post-mortem tools. ( @natorion does it sound interesting? :wink: )

Yep.

I mean changing internal representation of objects in V8. This happens fro

[2017-02-07 13:43] hhellyer commented on #64
@indutny @misterdjules - Of the platforms currently available for download from nodejs.org I don't believe LLDB supports SmartOS/Solaris or AIX.

[2017-02-07 19:46] misterdjules commented on #64
@indutny

@hhellyer seems to point out that it doesn't.

I wouldn't think so. Does lldb support piping commands? Does lldb support CTF, walkers, etc? In other words, not only lldb seems to provide a different features set than mdb, but it would take a lot of work and time for mdb users to switch to lldb, even if it was possible.

As a result, I would think that any integration of llnode into V8 wo

[2017-02-28 11:15] hhellyer commented on #64
At the risk of adding yet another option, yet another option is to put the support into lldb itself.
It does support languages other than C/C++ though I don't really know the details of how it works or how suitable it would be. It looks like someone at Google added support for Go but I don't know enough about Go or extending lldb like that to say whether that would mean adding V8 support to lldb w

[2017-02-28 11:41] bnoordhuis commented on #64
For native lldb support you'd need useful debug info, a stable ABI and, probably, a stable runtime (for hooking.)  Go has them, V8 doesn't.

Debug info isn't insurmountable (it already supports that, after a fashion; the `--gdb` switch) but the other two?  I doubt it.

[2017-02-28 19:05] indutny opened #68 "otool2segments does not work anymore"
[code]

cc @hhellyer

[2017-03-01 11:56] rnchamberlain commented on #68
Do we still need the memory segments tool? The better fix in lldb is in v3.9 and later. Maybe that's not available on Mac?

[2017-03-01 12:04] indutny commented on #68
Its not available on Mac, at least out of the box.

[2017-03-01 13:31] hhellyer commented on #68
I ran a quick sniff test with a random version of node and it looks ok initially. It's definitely a Mac core dump? (All mine end up in /cores named core.<pid> I'm not sure how to get them called "core" on a Mac.)
I'll try and re-create if you give me some more details:
- Which version of Node created the core? 32 or 64 bit?
- Which version of otool? (otool --version says (Apple LLVM version 8.0.0

[2017-03-01 13:33] indutny commented on #68
This is definitely a core, I just moved it to `/tmp/` for unrelated reasons:

[code]

[code]

[code]

[2017-03-01 13:34] indutny commented on #68
I believe that the latest `otool` internally calls `objdump` now. Here is `objdump`:

[code]

[2017-03-01 13:36] hhellyer commented on #68
That's the same level of otool as me.
How big is it? I have a recollection I managed to break otool with a really massive core dump.
LLDB might be able to still open it.

[2017-03-01 13:43] indutny commented on #68
Hm... It is around 3gb: `2876063744`. Is it too big?

[2017-03-01 13:43] indutny commented on #68
`lldb` works with it indeed.

[2017-03-01 14:10] hhellyer commented on #68
I just tried a test program that filled the heap and crashed. The core dump was 2889756672 and otool couldn't open it.

Not sure what to suggest, lldb has a command called "memory region". If you run:
`(lldb) memory region 0x0`
then keep repeating the command (just by hitting return) it will walk all the memory regions. Unfortunately it's not something that easy to script to.

llnode function that

[2017-03-01 14:18] rnchamberlain commented on #68
Could try reproducing the problem with a smaller heap size, to get a smaller dump (>2Gb?)?

[2017-03-01 14:25] indutny commented on #68
Yeah, I guess so. Thank you!

[2017-03-01 14:25] #68 closed

[2017-03-01 14:28] rnchamberlain commented on #68
Maybe we should add a size check and warning to otool2segments

[2017-03-01 14:30] indutny commented on #68
Alternatively I can write a JS script that will print this info...

[2017-03-01 15:04] indutny commented on #68
Here is the thing https://github.com/nodejs/llnode/pull/69

[2017-03-02 13:37] rnchamberlain commented on #49
Agree. For https://github.com/nodejs/node-report we use the strongloop 'slt-release' tool for npm publishes, which does the versioning, release tag thing and maintains a change log, e.g:
https://github.com/nodejs/node-report/blob/master/CHANGES.md

To see the help:
[code]
To do an npm publish and the rest:
[code]

[2017-03-02 13:46] rnchamberlain opened #71 "Linux lldb system plugin directory has changed"
See https://reviews.llvm.org/D19516. The lldb system plugins directory for linux is now` /usr/lib/lldb/plugins`. I think this happened in lldb v3.9. So it no longer finds the llnode plugin if it is installed in `/usr/lib/lldb` (which is where the current llnode makefile install target puts it).

They say that earlier lldb versions do a recursive scan from /usr/lib/lldb, so lldb v3.8 should still f

[2017-03-14 19:06] davidmarkclements commented on #53
just to note, I put this together for Mac and Ubuntu a few months ago

It's published to npm

[code]

Uses a slightly different approach - detects OS and then runs the install steps for that OS

Extendable by adding .sh files and adding detection to the `cmd.js` file

If you're thinking there's a more suitable approach, I'll also happy donate `llnode-setup`

(cc @lucamaraschi)

[2017-03-14 19:14] davidmarkclements commented on #53
oh wait - the github readme says you can `npm install llnode`
- but the npm readme hasn't been updated

[2017-03-15 09:44] rnchamberlain commented on #53
@davidmarkclements you are right, see https://github.com/nodejs/llnode/pull/65, the readme was updated to document the npm install, but we need a npm publish for that to show up

@indutny @hhellyer see https://github.com/nodejs/llnode/issues/49, want me to do the changelog/version/npm publish?

[2017-03-17 11:42] indutny commented on #53
@rnchamberlain that would be awesome! Thank you!

[2017-03-20 09:59] rnchamberlain commented on #53
@indutny @hhellyer right oh, will do. I'll need the powers on llnode to push the changelog and the release/tag, also on https://www.npmjs.com/package/llnode to do the publish - thanks.

[2017-04-06 08:46] earlymeme opened #73 "something wrong with exec `./gyp_llnode -Dlldb_dir=/usr/lib/llvm-3.9/` On Ubuntu"
[code]
How to solve it ? My code has been updated.

[2017-04-06 08:52] hhellyer commented on #73
@earlymeme - That's checking the output of `cc -version`? What does that return for you? (Which C compiler are you setup to use?)

[2017-04-11 14:53] maziey93 opened #74 "Unable to read all frames even V8 ones in core dump taken"
Hi I have been interested in debugging nodejs in prod for a while but having to install `mdb` was quite an issue, it’s really awesome that there is llnode.

I installed llnode on my mac with brew for practice taking core dumps, analyzing points of failure etc it all worked, so I tried setting up with “a real project” using the simple code [here](https://developer.ibm.com/node/2016/08/15/exploring-

[2017-04-11 14:59] hhellyer commented on #74
@maziey93 - Can you post the command line you started lldb with and let me know whether the docker image was Mac or Linux?
I suspect that in the first instance you need to make sure lldb can find the node executable that generated the core dump, otherwise we can't find the symbols we need to understand the v8 object layout.

[2017-04-11 15:05] maziey93 commented on #74
@hhellyer I started lldb using `lldb node -c <path-to-core>`, the docker image is the official node image for `5.12.0` I know it's some sort of variant of Linux but I'm not sure which it is.

[2017-04-11 15:06] hhellyer commented on #74
Ah, so lldb was running in a Mac terminal? The node executable on your path would have been a Mac one rather than a Linux one?

[2017-04-11 15:11] maziey93 commented on #74
@hhellyer yes I ran lldb in a Mac terminal, but got the core dump from the node docker image which is more or less Linux

[2017-04-11 15:18] hhellyer commented on #74
Ok, we could probably use some better examples for this case. But here's what happens for me, using a linux VM that mounts my Mac file system so I can access files in either environment:

To see the same as you:
`> lldb -c ~/work/core.linux.core.on.mac.dmp`
lldb can load this but not find symbols, so even lldb commands like "bt" give very little information.

To make it work, point lldb at the *ex

[2017-04-11 15:24] maziey93 commented on #74
@hhellyer  I see what you mean now, I actually running the `node v6.9.1` on my machine and the docker's node version is `5.12.0`. So do you think that using the same version and most definitely compiling from the same source solve this problem??

[2017-04-11 15:28] hhellyer commented on #74
No - you need the exact same node executable that was used inside docker. You can't use a Mac executable with a Linux core dump. Trying to rebuild the same level from source (even on the same platform) is unlikely to work - you probably won't get exactly the same binary.

The core file and node exe that created it should be treated as a matching pair. When you copy the core file from your docker i

[2017-04-11 15:40] maziey93 commented on #74
@hhellyer Alright thanks alot, I will give it a try

[2017-04-11 15:48] hhellyer commented on #74
@maziey93 - Let me know if it does/doesn't work. I shall leave this issue open so I can use it to update the docs. If it works I'll base them off what I've written, if it doesn't I'll try and help you get it going so I can write some docs which do work!

[2017-04-11 15:53] maziey93 commented on #74
@hhellyer it works 🕺🏾🕺🏾
<img width="1089" alt="screen shot 2017-04-11 at 4 52 07 pm" src="https://cloud.githubusercontent.com/assets/7893459/24918168/5c1c0ae4-1ed7-11e7-8ca6-f232907e83b4.png">

[2017-04-12 08:17] earlymeme commented on #73
@hhellyer - I run `cc --version`, and then tell me that ```cc (Ubuntu 7-20170316-1ubuntu3) 7.0.1 20170316 (experimental) [trunk revision 246203]
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.```
I've found the experimental feature. Is that a prob

[2017-04-12 09:42] hhellyer opened #75 "Update headers for Mac OS X installation to pick up 3.9+ headers"
Xcode recently updated lldb on my system. Now lldb reports:
$ lldb -v
lldb-370.0.40
  Swift-3.1

However this doesn't match up to the actual lldb levels so I forced the installation script to use 3.9 headers. This built and as a result I was able to run v8 findjsobjects *without* needing to run one of the scripts to generate memory regions.

This simplifies the usage of llnode a lot so I will upda

[2017-04-12 10:42] hhellyer commented on #73
The code for compiler_version() is:
[code]
so I guess the next question is what does `cc -dumpversion` return?

[2017-04-12 10:58] maziey93 opened #76 "Creating flame graphs from core dumps taken"
I have created a docker image that can be used by literally anyone that picks it up for debugging node in prod, I have been able to configure `llnode` , `lldb`, `perf` with help from @hhellyer  all that needs to be done is for the user to copy the generated core dump and binary of node that was running on the process into docker [see here](https://github.com/nodejs/llnode/issues/74) I'd like to ta

[2017-04-12 12:09] hhellyer commented on #76
@maziey93 What data are you interested in graphing? Memory usage or call stack profiling?

As far as getting the data out goes you could write a custom command that dumped json output or it might be a use case for a javascript API (see issue #14).

[2017-04-12 12:13] rnchamberlain opened #77 "npm install -g llnode fails"
It's common practice to install tools using the` -g `option, but this seems to fail with llnode:

[code]

Problem seems to be this line in the config.js script: https://github.com/nodejs/llnode/blob/master/scripts/configure.js#L89

Using `npm install llnode `without the `-g` option works fine.

[2017-04-12 12:24] hhellyer commented on #74
Re-opening to remind me to update the documentation!

[2017-04-12 12:33] earlymeme commented on #73
hi @hhellyer - I think this is a bug...When `cc -dumpversion` is only single.And then, a error would throw from `  (major, minor), is_clang = compiler_version()`

[2017-04-12 12:38] maziey93 commented on #76
@hhellyer call stack profiling would be nice, but memory usage is more important to me right now, being that the core dump isn't exactly a running process I am not sure that using either of perf or dtrace will be of any help here.

[2017-04-12 12:44] hhellyer commented on #76
Memory usage is a good fit, I was only wondering about profiling as that's what I usually see flame graphs used for.

We already have the v8 findjsobject/findjsinstances commands which give you counts and details for each type. If those give you the kind of data you want you could add an option to format their output as json to make them scriptable. What type of analysis are you trying to do?

[2017-04-12 13:04] hhellyer commented on #73
Ok, it's just expecting a two digit version number and getting one digit. I've pushed a fix on a branch.
Could you try installing via:
`npm install hhellyer/llnode#gcc_version_fix`
If that fixes it I'll raise a pull request.

[2017-04-12 13:13] maziey93 commented on #76
@hhellyer good one about memory usage I hadn't thought of it like that, so I guess call stack profiling would be the one to tackle, basically one of our app has been crashing intermittently and logs don't exactly show any error but CPU usage sometimes spikes, it went to a 100% once. it'd be nice to know what functions spend a lot of time in the call stack

[2017-04-12 15:02] hhellyer commented on #76
@maziey93 - You probably want a profiling tool of some kind if you are looking for occaisinal CPU usage spikes but if you get a crash with an uncaught exception you can run with `--abort_on_uncaught_exception` to trigger a core file at crash time:
`> node --abort_on_uncaught_exception helloworld.js`
At that point if it isn't obvious from the stack trace what went wrong you can use llnode to look d

[2017-04-12 15:54] indutny commented on #75
Hooray!

[2017-04-13 09:20] maziey93 commented on #76
@hhellyer so we pickup after easter then

[2017-04-19 01:59] earlymeme commented on #73
@hhellyer  It works. Thanks very much. And I see your changed code
[code]

your idea is as I thought. And I had changed like yours locally. haha. :)

[2017-04-19 03:15] indutny commented on #75
See: https://github.com/Homebrew/homebrew-core/pull/12608 . Will close this once it lands.

Thanks for update!

[2017-04-19 04:23] indutny commented on #63
Closing this, please re-open if it is still relevant.

[2017-04-19 04:23] #63 closed

[2017-04-19 04:24] indutny commented on #64
Closing this, please re-open if relevant.

[2017-04-19 04:24] #64 closed

[2017-04-19 04:24] indutny commented on #61
Closing this, please re-open if relevant.

[2017-04-19 04:24] #61 closed

[2017-04-19 04:24] indutny commented on #73
Appears to be fixed, closing!

[2017-04-19 08:00] hhellyer commented on #75
I'll push a fix in the npm build script as well.

For reference I asked about keeping track of the lldb levels in Xcode - the response was that newer levels of lldb should be compatible with older headers. We only need to update the headers if there is a feature we need. (Which there is in this case.)

http://lists.llvm.org/pipermail/lldb-dev/2017-April/012208.html

[2017-04-19 08:13] hhellyer commented on #73
Fixed on my branch but I haven't raised or merge the PR for the change, I'll re-open and raise the PR.

[2017-04-19 10:29] hhellyer commented on #75
I've pushed an update to the npm script. Once this is landed I'll need to update the npm again so that Mac users installing via npm get the benefit.

[2017-04-20 10:20] hhellyer commented on #75
v1.4.3 has been published:
https://www.npmjs.com/package/llnode
I can build the plugin with `npm install llnode` and run `findjsobjects` without creating a memory ranges file on MacOS X. Closing this now.

[2017-04-20 10:20] #75 closed

[2017-04-21 14:34] bnoordhuis opened #81 "Prepare for node 8.0"
Wouldn't it be nice if llnode worked out of the box with node 8?  Indeed it would but it won't happen without some even-toed ungulate clipping<sup>1</sup>. Here is what needs to be done:

- [x] update `tools/gen-postmortem-metadata.py` in upstream V8
- [x] back-port changes to nodejs/node
- [ ] update llnode to support new object layouts

Bonus points if llnode is taught to print something sensibl

[2017-04-25 08:25] bnoordhuis commented on #81
Related V8 issue: [No build bots build debug-support.cc](https://bugs.chromium.org/p/v8/issues/detail?id=6299)

[2017-04-26 11:52] bnoordhuis commented on #81
V8 changes: https://codereview.chromium.org/2842843004/

[2017-04-27 08:56] scottinet commented on #61
Just a follow-up: everything work fine using lldb4.0 x64

[2017-05-02 10:43] #81 closed

[2017-05-18 08:17] brendangregg commented on #76
Love the idea of a docker image that has llnode ready to go.

As @hhellyer said, I'd expect a profiling tool would be needed to gather the many stacks needed for a flame graph, since core dumps typically don't have many stacks (one for each thread, but that might be all unless some debug mode was enabled).

perf can sample at a timed rate for a CPU flame graph. The new stackcount tool in iovisor/b

[2017-05-18 09:43] maziey93 commented on #76
@brendangregg I already created the docker image, you can take a look at it [here](https://github.com/maziey93/purifico) I would also like help with taking core dumps with gcore, the last time i tried to take one there was a particular error with multi-threading i couldnt resolve it, here is a [link](https://pbs.twimg.com/media/C9Opo_GXcAAFtup.png) to the error i got, i didnt want to use lldb caus

[2017-05-19 17:42] bnoordhuis commented on #74
@hhellyer Ping, did that documentation update happen?

[2017-05-19 17:42] bnoordhuis commented on #73
Closing, #78 was merged a while ago.

[2017-05-19 17:42] #73 closed

[2017-05-19 17:47] bnoordhuis commented on #53
Closing, fixed by #60.  #77 is the tracking issue for `npm install -g llnode`.

[2017-05-19 17:47] #53 closed

[2017-05-22 10:11] hhellyer commented on #74
@bnoordhuis - Sorry, got sidetracked - I've raised PR #86.

[2017-05-23 21:53] bioball commented on #61
I'm trying to do the same thing. I have a core dump generated using gcore, but unable to open it in lldb-3.9 and it just hangs.

Scott, how did you install lldb-4.0? Seems like it's not available for Ubuntu 14.04. And is there a way to generate a core file that's compatible for lldb-3.9?

[2017-05-24 09:44] hhellyer commented on #61
LLDB was unable to open cores generated via gcore. This was fixed (see above) but I think the fix went into lldb-4.0 not lldb-3.9.
A core file generated by a crash (SEGV etc) is still readable. If you don't mind terminating the running application you might want to try killing the process using a signal that will generate a core dump.

I tend to use `kill -24 <pid>` (SIGXCPU) just because it's unl

[2017-05-24 09:46] rnchamberlain commented on #61
@bioball  It should be possible to get lldb-4.0 for Ubuntu 14.04 ('trusty') - it is listed on http://apt.llvm.org/.
I put some lldb install instructions here:
https://developer.ibm.com/node/2016/09/27/advances-in-core-dump-debugging-for-node-js/

You should just need to change the apt-add-repository line to this:
`sudo apt-add-repository "deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-4.0 m

[2017-05-24 10:17] NumberX opened #87 "How to build lldb-mi"
Hello,
I need your help for building lldb-mi static library in mac os.
Many thanks

[2017-05-24 11:22] bnoordhuis commented on #61
Didn't realize it was Howard who fixed that.  Nice work, @hhellyer!

[2017-05-24 11:53] rnchamberlain commented on #71
All done, in llnode v1.4.3

[2017-05-24 11:53] #71 closed

[2017-05-24 12:20] hhellyer commented on #87
llnode is just a plugin for lldb. You should probably ask this on the lldb-dev mailing list. It has been asked before. There's a thread here: http://lists.llvm.org/pipermail/lldb-dev/2014-September/005167.html but as that was in 2014 that may be out of date.

[2017-05-25 05:19] bioball commented on #61
@rnchamberlain Ah! Turns out what was happening is that I had a messed up `sources.list` file. When trying to install lldb-4.0, I had added the wrong debian repository.

Just installed lldb-4.0, and everything works great now. Thanks!

[2017-05-31 04:02] indutny opened #88 "Release"
Would anyone mind if I'll do a release, and add it to homebrew? Given that node v8 was just released, it seems beneficial to publish the version that supports it (thanks to @bnoordhuis )

[2017-05-31 04:02] indutny commented on #88
cc @hhellyer

[2017-05-31 08:07] hhellyer commented on #88
@indutny - Nope that's fine, if you do brew I'll push the update to the npm.

[2017-05-31 08:34] gibfahn commented on #88
+1 to that

[2017-05-31 13:44] joyeecheung opened #89 "Reading contents of an Array/ArrayBufferView"
Hi, at the moment when doing `v8 inspect <address-of-an-array>` llnode would only print the length (and offset & backstore address) of an Array (ArrayBufferView). Are there any support for reading the elements of an Array/ArrayBufferView? Thanks.

[2017-05-31 14:58] bnoordhuis commented on #89
Do you mean Array or ArrayBuffer?  If the latter: not at the moment.  You can take the address of the backing store and print that like you would with normal memory.

We could pretty-print ArrayBuffers but we'd need to do something sensible for large arrays, like print only the first 100 elements.

If you want to work on it, the logic is in `JSArrayBuffer::Inspect()` and `JSArrayBufferView::Inspec

[2017-05-31 17:58] joyeecheung commented on #89
@bnoordhuis Thanks for the answer, I actually meant both, but I just realized it does support arrays, I guess the arrays that I've tried somehow errorred in one of the steps of `JSObject::InspectElements` so the elements didn't show up.

I think we could do a new command for array-like objects which also takes indexes/ranges as operand? I'd be happy to work on it.

[2017-05-31 18:50] indutny commented on #88
Here is homebrew PR: https://github.com/Homebrew/homebrew-core/pull/14119

@hhellyer I'd appreciate if you could do npm release.

Thank you everyone!

[2017-05-31 20:01] bnoordhuis commented on #89
A flag sounds good but the default should probably be conservative for large arraybuffers because those can easily be 100s of MBs and you don't usually want to see every last byte printed.

As well, it would be nice if typed arrays printed their values as their natural types (uint8, int32, float64, etc.) instead of simply dumping out the `.buffer` property but that's a bigger undertaking.

[2017-06-01 10:28] hhellyer commented on #88
@indutny I've updated the npm.

[2017-06-01 17:43] indutny commented on #88
@hhellyer thank you!

Homebrew landed my PR. Closing this!

[2017-06-01 17:43] #88 closed

[2017-06-01 23:03] yunong opened #90 "finding references?"
mdb_v8 supports `findjsobject -r`, which will print out all objects that refer to a specific object. This is especially helpful for debugging memory leaks, as you can use it to walk a leaking object all the way back to its root reference.

Does this exist for llnode, and if not will you be open to implementing it?

[2017-06-01 23:15] brendangregg opened #91 "automatic LLNODE_RANGESFILE"
Currently we do this for <tt>v8 findjsobjects</tt> to work:

[code]

It might be nice if llnode could do this automatically, even if it means llnode shelling out to call readelf and scraping the output (if that's possible in lldb).

[2017-06-01 23:15] cjihrig commented on #90
`v8 findrefs` might be what you're looking for.

[2017-06-02 02:07] indutny commented on #91
This is not required with (I believe) lldb-3.9, as it can infer this information automatically with LLDB's APIs.

[2017-06-02 02:07] indutny commented on #91
cc @hhellyer

[2017-06-02 07:18] bnoordhuis commented on #91
Correct, llnode uses `lldb::SBProcess::GetMemoryRegions()` when available.

[2017-06-02 07:24] hhellyer commented on #91
I added the memory region API to lldb a while ago: https://reviews.llvm.org/D20565, I think it was released in lldb 3.9.
You need to build against at least a 3.9 level of lldb with the 3.9 headers. Installing via the npm installer on Linux should get that right.

On Mac it's more complicated as Apple change the version numbers so it's hard to map the version numbers of lldb across but I have confi

[2017-06-02 07:55] rnchamberlain commented on #90
Yes, `v8 findrefs` is the one. There's a detailed write-up here: https://developer.ibm.com/node/2016/10/13/findrefs-command-for-llnode/

Also a mdb vs llnode command comparison here:
https://developer.ibm.com/node/2016/09/27/advances-in-core-dump-debugging-for-node-js/

[2017-06-03 00:50] brendangregg commented on #91
Wow, great, thanks! I've updated my (makeshift) [docs](http://www.brendangregg.com/blog/2016-07-13/llnode-nodejs-memory-leak-analysis.html), and will close this ticket.

[2017-06-03 00:50] #91 closed

[2017-06-03 01:14] brendangregg commented on #90
@yunong that work for you? close the ticket or need more work?

[2017-06-03 01:22] yunong commented on #90
Thanks everyone for the help. Closing.
On Fri, Jun 2, 2017 at 6:14 PM Brendan Gregg <notifications@github.com>
wrote:

--
Via mobile

[2017-06-03 01:23] #90 closed

[2017-06-05 23:04] brendangregg opened #92 "Linux lldb 3.8 hangs on live cores, update docs"
I suspect we've hit this known and fixed bug with lldb 3.8:

- https://bugs.llvm.org//show_bug.cgi?id=26322
- https://reviews.llvm.org/rL287858

With a live core dump, lldb hangs:

[code]

Could the install instructions for Linux note this and the fix? Would the current fix be an lldb build from source, or is it packaged with the patch yet in lldb 3.8 or 3.9?

[2017-06-06 02:46] brendangregg commented on #92
should have CC'd @hhellyer

[2017-06-06 08:18] hhellyer commented on #92
I think it's only in the 4.0 branch. (There's a github mirror of the llvm project that's easier to search, I checked one of the files I updated here: https://github.com/llvm-mirror/lldb/blob/release_40/source/Plugins/Process/elf-core/ThreadElfCore.h)

Building from source is one option but it's not that quick (you need to build llvm, clang and lldb) but there are some Ubuntu packages available fro

[2017-06-06 08:47] rnchamberlain commented on #92
Re gcore dumps and the hang fix in lldb 4.0 see also the follow-up comments on https://github.com/nodejs/llnode/issues/61

[2017-06-06 23:05] No9 opened #93 "v8 source list - segmentation fault regression - lldb 4.0 on FreeBSD-11.0"
Hi - Just taking this for a drive on FreeBSD 11.0-RELEASE
Build went smoothly following a tweaked set of the linux instructions
[code]

Anyway when I follow this tutorial https://developer.ibm.com/node/2016/08/15/exploring-node-js-core-dumps-using-the-llnode-plugin-for-lldb/ (thanks @hhellyer) I get a segmentation fault (core dump) when I try the `v8 source list` command after selecting the frame.

[2017-06-12 17:26] brendangregg commented on #92
thanks!

[2017-06-12 17:28] brendangregg opened #95 "lldb 3.8 workaround for live hangs"
#92 tracks documenting the problem, but... maybe there's a workaround for this that we can use for lldb 3.8? Just wanted to post this as an issue in case someone figures it out. I don't know how far away it will be for lldb 4.0 to be widely available.

[2017-06-13 07:59] rnchamberlain commented on #95
http://apt.llvm.org/ says "...stable, qualification and development branches (currently 3.9, 4.0 and 5.0)...". Might be worth seeing if the fix could be back-ported to 3.9?

[2017-06-19 18:29] brendangregg opened #97 "findrefs performance improvement"
Currently findrefs has to rescan the entire heap each time. Could an index or some cache be added to improve performance of this when using it multiple times?

[2017-06-19 18:30] brendangregg opened #98 "Reading core dumps bigger than 1 Gbyte"
It's not a problem for us yet, but if there is an issue here then at some point it needs to be fixed.

[2017-06-19 18:35] brendangregg commented on #76
@maziey93 ok, thanks; can you close this ticket if there's nothing to do here? Just doing cleanup.

[2017-06-19 18:36] brendangregg commented on #74
can this ticket be closed?

[2017-06-19 18:43] brendangregg opened #99 "v8 bt skips some frames"
Maybe there's a good reason for this, but notice we're skipping frames 1-4:

[code]

They do show up with the normal bt:

[code]

Should "v8 bt" be skipping them?

[2017-06-19 19:51] brendangregg opened #100 "workqueue command"
Would it make sense to have a "v8 workqueue" or "libuv workqueue" command, that showed what was waiting and their callbacks?

Maybe something that made use of  process._getActiveHandles(), process._getActiveRequests(), or process::getActiveHandles.

[2017-06-19 19:57] brendangregg opened #101 "v8 findleaks command"
Could we have a v8 findleaks command, that found leaked objects? This might be something that requires v8 changes to understand allocations. Plenty of prior work in this area, of course, even one from my CEO: http://web.stanford.edu/class/cs343/resources/cs343-annot-purify.pdf

[2017-06-19 20:08] bnoordhuis commented on #97
Are you experiencing performance issues?  If so, can you provide some background on the size of the core file, number of objects in it, etc.?

[2017-06-19 20:20] brendangregg opened #102 "error message for a node binary to core file mismatch"
Is it possible to detect that there is a version mismatch between node and the core file, and print an error or warning? Here I'm using the wrong version of node with a core file, and it doesn't complain, but it would be helpful if it did.

[code]

[2017-06-19 20:25] bnoordhuis commented on #101
When would an object be considered leaked?  With a GC, an object is either reachable from the root set or it's garbage - there are no malloc-without-free leaks like you have in C.

[2017-06-19 20:26] brendangregg commented on #97
I'm hearing about latency second hand. Maybe the first step here is to verify that this really is an issue and provide such numbers for context, including how slow the command is. Might need #98 fixed first to really see some latency.

[2017-06-20 09:28] hhellyer commented on #77
PR #94 has been landed and published to https://www.npmjs.com/package/llnode - Closing this now.

[2017-06-20 09:28] #77 closed

[2017-06-20 09:30] hhellyer commented on #74
PR #86 has been landed and published to https://www.npmjs.com/package/llnode - Closing this now.

@brendangregg - Thanks for the reminder, sorry I didn't want to close this until the README.md update was visible on npmjs.org.

[2017-06-20 09:30] #74 closed

[2017-06-20 10:37] bnoordhuis commented on #102
I agree it would be nice.  I looked into it earlier this year but I couldn't find good, unambiguous eyecatchers.  Probably one should be added upstream.

[2017-06-20 11:33] bnoordhuis commented on #98
Are you saying it doesn't work or ...?

[2017-06-20 15:22] hhellyer commented on #102
In an ELF core (linux) you might be able to use the program headers or the NT_FILE note to validate you are using the right executable but you'd probably want to do it inside lldb not llnode.

[2017-06-20 15:33] bnoordhuis commented on #102
That wouldn't help if the binary was upgraded in place after the core file was generated, would it?  That seems like the most likely scenario you'd want to detect.

As well, older kernels don't emit NT_FILE notes.

[2017-06-20 21:12] bnoordhuis commented on #99
I've been looking at this.  llnode skips frames it can't link to either a C++ symbol or a JS stack frame.

It's easy to change but then stack frames for V8 builtins also show up (because llnode does not know how to identify them) and there are often a great number of them.

I added a heuristic to skip frames whose PC is inside a WX memory segment on the assumption that it's almost certainly jitted

[2017-06-21 09:15] bnoordhuis commented on #98
No follow-up, closing.

[2017-06-21 09:15] #98 closed

[2017-06-21 09:16] bnoordhuis commented on #89
@joyeecheung Just curious, were you able to make any progress on this?

[2017-06-21 09:18] bnoordhuis commented on #97
I'll close this for now.  Happy to investigate once there is some concrete data.

[2017-06-21 09:18] #97 closed

[2017-06-21 09:18] #87 closed

[2017-06-21 09:19] bnoordhuis commented on #37
@gibfahn Are you still working on this?

[2017-06-21 09:22] bnoordhuis commented on #17
@hhellyer Just curious, were you able to make progress on this?

Apropos getopt, we could vendor the implementation from freebsd or openbsd, it's just one file and it's license-compatible.

[2017-06-21 09:32] rnchamberlain commented on #99
We had a brief discussion on skipped frames last year, and there was interest in seeing all frames, even if the information available was minimal, eg V8 transition frames.

Re dependency on `GetMemoryRegions()`, as that API is in lldb 3.9, which is the stable release now, I don't think that should be a worry.

[2017-06-21 10:02] bnoordhuis commented on #99
Sounds good.  I've opened #104, it prints them as `<builtin>`.

[2017-06-21 14:04] joyeecheung commented on #89
@bnoordhuis I have implemented `--array-length` for normal arrays but have not found the time to do the same for array buffers. I will open a PR for what have been done, can probably implement the other parts this weekend.

[2017-06-21 15:37] indutny commented on #101
It is pretty much impossible to figure out, I'm afraid. The only way it could work is by comparing two core dumps and seeing which objects are common to both of them. Would this work for your use-case @brendangregg ?

[2017-06-21 15:50] hhellyer commented on #101
I agree it's probably not possible to tell which objects are leaking from one dump.

Memory Analyzer for Java (http://www.eclipse.org/mat/) generates a dominator tree which shows you which references are keeping large chunks of the heap alive. For Java it's been an excellent technique for finding what's hanging on to object references and keeping large amounts of data alive. That often identifies

[2017-06-21 17:15] bnoordhuis commented on #101
@hhellyer Heap snapshots let you calculate the retained size of an object; sum its object graph and keep track of cycles.  Is that what you mean?

Aside: I remember discussing turning core dumps into heap snapshots (with you? not sure).  That would cover that use case.

[2017-06-21 17:22] indutny commented on #101
This has to be rewritten: https://github.com/indutny/core2dump

[2017-06-22 14:51] hhellyer commented on #101
@bnoordhuis - I don't think the two are quite the same the dominator tree algorithm works out which object is responsible for keeping that retained space alive. Memory Analyzer shows retained size too but the dominator tree view shows how things are kept alive. (I'm going to struggle to explain it properly - it's definitely worth reading up on or trying out in Memory Analyzer.)

[2017-06-26 15:34] hhellyer commented on #74
@maziey93 - I know this is closed but I've also published an npm which can generate a core dump and tar it up with the executable and libraries you need for lldb. It should simplify this sort of thing in the future. (We needed it for some situations where gcore was blocked - mainly inside docker containers.)
It's here:
https://www.npmjs.com/package/gencore
and I've put up a blog article about usin

[2017-06-28 09:02] maziey93 commented on #74
@hhellyer thank you!! I am taking a look at it

[2017-06-29 13:38] #99 closed

[2017-06-29 14:11] joyeecheung commented on #89
@hhellyer The implementation for `ArrayBuffer` and `ArrayBufferView` has not been completed yet, reopening..

[2017-06-29 14:27] hhellyer commented on #89
@joyeecheung - Ah, I suspect that's because the commit comment referenced this with "Fix", sorry about that!

[2017-06-30 00:44] gibfahn commented on #37
First step is getting tests in CI with https://github.com/nodejs/build/issues/777.

[2017-07-04 07:00] gentlejo opened #112 "findjsinstances is not completely finished"
OS: RHEL7
llnode version: 3.4.5

When I run findjsinstances command, it is not completely finished if its item is over about 100,000.

    (lldb) v8 findjsobjects
    ....
      24126    1338176 Object
      26602     854744 (Array)
     110907    2336544 (String)
    ....

    (lldb) v8 findjsinstances (String)
    killed (or Bus error)

If I upgrade to 3.9.x or 4.x, it shows better performance?

[2017-07-04 08:42] bnoordhuis commented on #112
I suspect it's either some kind of memory corruption or that llnode simply runs out of memory or stack space.

Is there an easy way for me to reproduce, like a small test script I can run against a particular version of node?

[2017-07-07 09:35] rnchamberlain commented on #49
@indutny - @hhellyer is achieving this now with the release commits, can we close this issue?

See: https://github.com/nodejs/llnode/releases

[2017-07-07 15:58] indutny commented on #49
👍

[2017-07-07 15:58] #49 closed

[2017-07-10 20:50] yunong opened #115 "v8 findrefstree command"
It'd be really useful to have a `v8 findrefstree` command for solving memory leaks. This would take a reference to an object, and starting from that node, print out all objects that refer to that object, and its parents, recursively.

Generally speaking this would be helpful for debugging memory leaks, as it's usually pretty obvious what objects are leaking, but not the root object(s) that's holdi

[2017-07-11 10:05] hhellyer commented on #115
I think we could probably do this but before diving into the technical side what would the output look like?
We need to build a path from an object (through many other objects) to possibly a number of roots. I'm not quite sure how to present that in a terminal window in a way that's usable. I've seen tools for walking the incoming references to an object before but they've generally been in GUIs.

[2017-07-12 19:58] yunong commented on #115
@hhellyer perhaps we can generate it into a common format that we've been discussing over here? https://github.com/nodejs/post-mortem/issues/13

lldb may not be the best tool to search through the generated tree, but if it's exported in a common format we could write tools to import it into a database and run queries.

Thoughts?

[2017-07-14 12:06] hhellyer commented on #115
I'm not sure if we could export the heap from a core dump into another format correctly. We currently have no way to get all the heap roots out of a core dump. (I'm fairly sure I've discussed this somewhere else but I can't find the reference.)

Getting the incoming references is something you need as soon as you start doing any kind of heap dump analysis so it would be worth thinking about and di

[2017-07-18 08:11] rnchamberlain commented on #115
IMO the best way to meet this requirement would be a GUI front end to the core-dump reader, so you can click on an object and open up a 'reversed' view of the objects that refer to it, with collapsed/expanded views of arrays etc. We are some way from having that. However, I think we could do something in line-mode if we control the amount of output using counts and ".... 200 more like this" type m

[2017-08-13 09:34] joyeecheung opened #117 "support thin strings"
Looks like in Node.js v8.3.0 (with v8 6.0) thin strings are enabled by default, since they are not recognized by llnode, when inspecting those strings the output is broken. e.g. when viewing the backtrace of `test/inspect-scenario.js`, script names that are thin strings will be displayed as "no script" (since llnode cannot do `String::ToString()` on them) and frames with functions containing thin

[2017-08-13 09:39] joyeecheung commented on #117
BTW I am working on this, still trying to figure out why `LoadConstant("ThinStringTag")` is giving me -1 though...

[2017-08-13 10:44] bnoordhuis commented on #117
@joyeecheung Does this (node) patch help?
[code]

[2017-08-14 08:09] vietkute02 opened #118 "llnode install fail in centos 6"
Hi All,
I installed llvm, lldb version 4.0.1 from [http://www6.hanicka.net](http://www6.hanicka.net)
then I've installed fail llnode in centos 6. Please help me to fix it.
Bellow is error output:

[code]

[2017-08-14 09:01] bnoordhuis commented on #118
Your compiler is probably too old.  If you want to build anything for node.js >= v4.x, you need g++ 4.8 or better (>= 4.9, really.)  Install devtoolset and try again.

Also, why are you using node v5.12.0?  That's out of support.  You should upgrade to v6.x or v8.x.

[2017-08-14 12:52] #89 closed

[2017-08-15 01:58] vietkute02 commented on #118
@bnoordhuis Thank for your help
I try install devtoolset-2 with gcc 4.8.2 then reinstall llnode successfully
but when i analysis example core dump like this
[code]
I got some error when used llnode command

[code]

* LLDB version is 4.0.1 (problem here?)

PS: I'm using node v5.12.0 because in my production it's stable. Thank for your suggest, I try upgrade node version in my free time

[2017-08-15 08:47] bnoordhuis commented on #118
Hard to say what's going on.  Might be a lldb bug, might be a llnode bug.  Does it happen when you inspect node v6.x or v8.x?

[2017-08-15 08:57] vietkute02 commented on #118
I've a question, If I dump core in my server running cent os 6. And I download dump file to my local machine (or other machine) like macbook. Can I analysis dump file with llnode in my macbook (same node version)?

[2017-08-15 09:03] bnoordhuis commented on #118
That's unlikely to work.  I could go into more detail but even if you copy over the node binary from the linux machine and lldb doesn't crash outright, it's still unlikely to produce useful results.

[2017-08-15 09:15] hhellyer commented on #118
The MacOS builds of lldb can open Linux core dumps without any problems, provided you point it at the right Linux binary. It's how I do a lot of my testing. (I have a Linux virtual machine on my Mac and a shared file system that both machines can see.)

The same isn't true the other way - Mac support isn't compiled into the Linux lldb binaries. (I suspect it's something to do with where the header

[2017-08-15 09:21] rnchamberlain commented on #118
You do need to download the exact executable that was running when the dump was created, along with the core dump, and supply both to lldb (i.e.` lldb ./downloaded_node_binary -c core.1234` ). We documented this under Usage here: https://www.npmjs.com/package/llnode

[2017-08-15 09:22] bnoordhuis commented on #118
@hhellyer It's going to lack anything from shared libraries and add-ons though.

[2017-08-15 09:23] rnchamberlain commented on #118
Yes, we are going to need a 'collector' tool - as we have for Java - to identify and grab libraries

[2017-08-15 09:59] bnoordhuis commented on #118
I just tried loading a node binary + core dump that were copied from a freebsd system to a linux machine and lldb 3.9 crashes before I even get to loading llnode.  So yeah, YMMV when copying around binaries.

[2017-08-15 14:57] joyeecheung commented on #117
@bnoordhuis Yes, that's what I need.

I've got the thin string support working but then discovered the frame test was failing because Turbofan now puts stub frames on the stack in that scenario. I will open a PR fixing these two issues.

[2017-08-15 14:59] joyeecheung commented on #117
@bnoordhuis BTW have you open a CL to the V8 upstream yet?

[2017-08-16 02:05] vietkute02 commented on #118
I just tried download extract node executable and stuck in
[code]
with node version v5, v6, v8
and same problem in my macbook, and production server centos 6
I just tried everything. So what should i do?
maybe i need to change runtime environment os to ubuntu or freeBsd ...

[2017-08-16 02:30] joyeecheung commented on #118
@vietkute02 Can you do something like:

[code]

That should print out the stacktrace of lldb. I have bumped into this before and it's `elf-core::CreateRegisterContextForFrame:: Architecture(27) or OS(0) not supported` because lldb can not identify the OS by inspecting the ELF header of the coredump generated by my OS (customized RHEL6, so probably it's the same problem as yours.), according to som

[2017-08-16 02:39] joyeecheung commented on #118
@vietkute02 BTW [these](https://github.com/llvm-mirror/lldb/blob/82db09b4ecc2870cf5a226d3415be472eda5f831/source/Plugins/ObjectFile/ELF/ObjectFileELF.cpp#L1554) are the comments explaining why lldb can not identify the OS from the coredumps. You can use `readelf -hn <path to core>` to see if your coredump has `EI_OSABI` set to System V but without any information about shared libraries in the note

[2017-08-16 04:27] vietkute02 commented on #118
@joyeecheung
bellow is lldb log
[code]
And ELF header

[code]
Is it problem which you describe?

[2017-08-16 10:20] rnchamberlain commented on #118
@vietkute02  if you are seeing a hang when you start loading a dump into lldb it may be this problem: https://bugs.llvm.org/show_bug.cgi?id=26322  You need to move up to lldb 4.0 to get the fix for that.

Just looking at the command you are running:
` llnode ~/.nvm/versions/node/v5.12.0/bin/node -c core.29338`

The first parameter needs to be your downloaded node executable (so it matches the dump

[2017-08-17 13:17] bnoordhuis commented on #117
I have now: https://chromium-review.googlesource.com/c/618986

[2017-08-22 09:05] #117 closed

[2017-08-23 14:34] mmarchini commented on #102
GDB gives two messages when it thinks the core may not match the executable:

`warning: exec file is newer than core file.` is given if the core is older than the executable.

`warning: core file may not match specified executable file.` is given when the validation fails. To Linux ELF programs, the only validation made is by executable name (same as suggested by @hhellyer).

This certainly should

[2017-08-25 18:37] brendangregg opened #126 "turbofan support"
Does anything break with the new v8 turbofan compiler? Does llnode need changes to support it? I don't know myself, but am filing a ticket as a reminder that we need to check.

[2017-08-28 10:13] langhuihui opened #127 "Use of const in strict mode"
`
[root@localhost ~]# npm i -g llnode

/usr/local/lib/node_modules/llnode/scripts/configure.js:3
const os = require('os');
^^^^^
SyntaxError: Use of const in strict mode.
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Function.Module.runMain (module.js:497

[2017-08-28 14:02] bnoordhuis commented on #127
With what version of node.js (`node -v`) is that?

[2017-08-29 01:20] langhuihui commented on #127
8.3.0

[2017-08-29 06:09] bnoordhuis commented on #127
It can't be, the line numbers in the stack trace don't match up.  You probably have an old node binary on your path somewhere.

[2017-08-29 06:15] langhuihui commented on #127
you are right!
`proc/irq/2/node
/proc/irq/1/node
/proc/irq/0/node
/sys/bus/node
/sys/devices/system/node
/root/.node-gyp/8.3.0/include/node
/root/node
/usr/bin/node
/usr/share/node
/usr/local/bin/node
/usr/local/include/node
/usr/local/share/doc/node
/usr/local/n/versions/node
/usr/local/n/versions/node/8.3.0/bin/node
/usr/local/n/versions/node/8.3.0/include/node
/usr/local/n/versions/node/8.3.0/s

[2017-08-29 06:54] #127 closed

[2017-08-31 08:00] langhuihui opened #128 "llnode install fail in ubuntu"
root@fed-QiTianM4360-N000:/home/fed/software# npm i -g llnode

Build dir is: /usr/local/lib/node_modules/llnode
bind: Invalid command `enable-meta-key'.
Checking for headers, version is 3.8
Installing llnode for /usr/bin/lldb, lldb version 3.8
Cloning lldb from release_38
child_process.js:614
    throw err;
    ^

Error: spawnSync git ENOENT
    at _errnoException (util.js:1041:11)
    at spawnSyn

[2017-08-31 08:03] indutny commented on #128
Sorry, the error could be more informative. You need to have `git` installed and available in your `PATH` in order to be able to run this tool.

[2017-08-31 08:12] langhuihui commented on #128
thank u

[2017-08-31 08:12] #128 closed

[2017-09-01 02:22] langhuihui opened #129 "install failed"
when execute git clone ,permission denied even i input sudo npm i -g llnode

so i  changed the npm global path:
npm config set prefix ‘~/.npm-global’

then npm ERR! It doesn't look like npm/node_modules/node-gyp is installed.
i found the source script(configure.js)

122:var npmLocation = child_process.execFileSync('which', ['npm']);
123:var npmModules = path.join(npmLocation.toString(), '../../lib

[2017-09-01 03:24] langhuihui commented on #129
i fixed it using npm i -g npm

[2017-09-01 03:24] #129 closed

[2017-09-01 06:30] langhuihui opened #131 "unable to locate lldb-server"
fed@fed-QiTianM4360-N000:~/dexter/NodeJs$ llnode -- node build/main.js
(lldb) target create "node"
Current executable set to 'node' (x86_64).
(lldb) settings set -- target.run-args  "build/main.js"
(lldb) plugin load /home/fed/.npm-global/bin/../lib/node_modules/llnode/llnode.so
(lldb) settings set prompt '(llnode) '
(llnode) run
error: process launch failed: unable to locate lldb-server
(llnode)

[2017-09-01 09:57] langhuihui opened #132 "run llnode error"
Process 24832 launched: '/usr/local/bin/node' (x86_64)
buffer.js:563
      if (encoding === 'utf-8') return buf.utf8Slice(start, end);
                                           ^

Error: "toString()" failed
    at stringSlice (buffer.js:563:44)
    at Buffer.toString (buffer.js:629:10)
    at Object.fs.readFileSync (fs.js:603:41)
    at startup (bootstrap_node.js:152:27)
    at bootstrap_node.js:

[2017-09-01 09:59] langhuihui commented on #131
i fixed with create link

[2017-09-01 09:59] #131 closed

[2017-09-02 03:25] joyeecheung commented on #126
Related and fixed: https://github.com/nodejs/llnode/issues/117

After using this patch (with a patched version of Node.js since https://chromium-review.googlesource.com/c/618986 has not landed in upstream yet), I have still been seeing evaluation failures when analyzing coredumps generated by Node.js v8.4.0. Will get to it later when I have a bit more time.

[2017-09-02 03:31] joyeecheung commented on #132
Looks like Node can not read your file as utf8 strings. Can you share the script and the version of Node that you are using? Does this error come up when you run the script without using lldb?

[2017-09-02 03:36] joyeecheung commented on #118
@vietkute02 That looks like a different problem (not a segmentation fault but a hang). For that please try @rnchamberlain's solution, and see if it works with lldb 4.0.

[2017-09-02 04:04] cjihrig commented on #126
@joyeecheung see #130. I'm pretty close to having the test suite pass on V8 6.1.

[2017-09-02 05:32] joyeecheung commented on #126
@cjihrig Interesting, have not tried 6.1 yet. I will take a look.

[2017-09-04 03:50] langhuihui commented on #132
Node version:8.4.0. Even if running llnode -- node -c core.24338.
Run the script very well without using lldb

[2017-09-04 15:34] joyeecheung commented on #132
@langhuihui The command should be `llnode node -c core.24338` (without `--`). If you put `--` before `node`, then it would be equivalent to running `node -c core.24338` with lldb. You will see the same error when you run `node -c core.24338` directly.

[2017-09-05 02:11] langhuihui opened #133 "llnode doesn't support lldb 6.0 now"
function getLinuxVersion(lldbExe) {

  var lldbStr;
  try {
    lldbStr = child_process.execFileSync(lldbExe, ['-v']).toString();
  } catch (err) {
    return undefined;
  }
  // Ignore minor revisions like 3.8.1
  if (lldbStr.indexOf('version 4.0') > 0) {
    return '4.0';
  } else if (lldbStr.indexOf('version 3.9') > 0) {
    return '3.9';
  } else if (lldbStr.indexOf('version 3.8') > 0) {
    r

[2017-09-05 02:38] bnoordhuis commented on #133
There is no lldb 6.0, the 4.0 series are the latest at this time.

[2017-09-05 07:06] langhuihui commented on #132
thank u

[2017-09-05 07:06] #132 closed

[2017-09-05 07:43] hhellyer commented on #133
v5.0 is due for release soon and the release_50 branch now exists in git, we should fix this - it's useful for anyone who compiles lldb themselves. (Like me!)

I'll try to do a PR later on.

[2017-09-05 07:53] langhuihui commented on #133
@hhellyer yes. I am sure that lldb version shows 6.0 when I  compiles lldb.

[2017-09-05 09:01] bnoordhuis commented on #133
PR welcome but the point remains that 4.0 is the latest release and this bug report is invalid.  I think it's perfectly sane for the install script to fail on prerelease versions of lldb.

@langhuihui You are using lldb from git master.  I wouldn't recommend that in conjunction with llnode - we don't test that and can't guarantee it works.  Use a release version.

[2017-09-05 09:01] #133 closed

[2017-09-05 09:50] hhellyer commented on #133
I won't re-open again as otherwise this will turn into a game of ping-pong but:
* If we hit problems opening particular core dumps we would recommend users try the latest version of lldb with llnode as that's where any fix would arrive first. (Some of those fixes have been from us.)
* lldb-5.0 can be installed from http://apt.llvm.org/ now. Users can get it there before it hits the main repositori

[2017-09-08 12:35] #126 closed

[2017-09-08 12:38] #112 closed

[2017-09-08 13:06] hhellyer commented on #112
@gentlejo - I've landed a fix for external strings, could you verify by installing from the master version?
`npm install -g nodejs/llnode`
I think external strings are likely to have been your issue as well but it's possible v8 has another type of string we aren't handling properly! If you can verify the fix that would be great, if it's not fixed please re-open this.

[2017-09-22 01:11] langhuihui commented on #17
I built lldb successfully,but llnode is not support windows now.

[2017-09-22 06:21] trevnorris opened #136 "v8 bt not not showing JS frames"
I've set the same breakpoint in both master and v8.x. the first is master where you'll see it's missing the JS frames:
[code]
and here it is on v8.x
[code]
This is using v1.6.2

[2017-09-22 15:00] cjihrig commented on #136
Using the Node's master branch and llnode's master branch (which I think should be the same as 1.6.2 at this point in time), I'm able to get JS stack frames out of a core file:

[code]

I can also attach to a running process:

[code]

Can you post code to reproduce?

[2017-09-25 03:23] langhuihui commented on #14
When it will be done?

[2017-09-25 09:00] langhuihui commented on #17
I built llnode on windows successfully. @rnchamberlain I use a def file
[code]

[2017-09-25 11:11] rnchamberlain commented on #17
@langhuihui ah, that's clever, so you export a function name from the llnode DLL that matches that hard-coded mangled name in LLDB (which is probably a clang or gcc style mangled name).

[2017-09-25 17:29] mhdawson commented on #17
@rnchamberlain @langhuihui great to hear.  What would be the next steps in getting this in our testing/validation to make sure we keep it working ?

[2017-09-26 02:51] langhuihui commented on #17
There's an error when I run it
[code]

[2017-09-27 03:52] langhuihui opened #137 "Failed to load XXX"
on windows
#17
I opened the debugmode
[code]

[2017-09-27 09:12] bnoordhuis commented on #137
No surprise, node.exe doesn't have the postmortem metadata, it's only available in the UNIX binaries: https://github.com/nodejs/node/blob/v8.6.0/common.gypi#L47

I'll close this out and circle back to #17.

[2017-09-27 09:12] #137 closed

[2017-09-27 09:13] bnoordhuis commented on #17
See https://github.com/nodejs/llnode/issues/137#issuecomment-332460074 - postmortem metadata needs to be enabled in the node binary first.

[2017-09-27 09:48] rnchamberlain commented on #14
@langhuihui Unfortunately I have not had time to work on this much this year. I have 2 branches, both quite old now (there has been quite a lot of other development on llnode recently):
https://github.com/rnchamberlain/llnode/tree/llnode_api
https://github.com/rnchamberlain/llnode/tree/javascript-api

There was also some discussion and other contributions in the post mortem workgroup:
https://gith

[2017-09-30 23:14] No9 opened #138 "v8 source list always fails w/ error: USAGE: v8 source list"
I upgraded llnode install 1.6.2 on both Ubuntu 16.04 and FreeBSD 12 and ran through the tutorial here
https://developer.ibm.com/node/2016/08/15/exploring-node-js-core-dumps-using-the-llnode-plugin-for-lldb/

When a frame is selected (e.g. `frame select 6`) and the source viewed with `v8 source list` the response is always
`error: USAGE: v8 source list`

@cjihrig This seems to have been introduced

[2017-10-01 02:52] cjihrig commented on #138
That seems fine, just verify that `jssource` still works for you too.

FWIW, the command seems broken on my machine, even with that change. I'll try to take a deeper look when I have a chance.

[2017-10-05 16:59] joyeecheung commented on #136
Also it might help to post the logs when lldb is run with the environment variable `LLNODE_DEBUG` set to a non-null string like `true`.

[2017-10-05 18:03] joyeecheung commented on #14
I am interested in picking this one up. Will try to rebase previous work to master first.

[2017-10-11 05:33] trevnorris commented on #136
Can't manage to repro the same issue. Will open a new issue with more information if I manage to repro it again.

[2017-10-11 05:33] #136 closed

[2017-10-13 08:30] joyeecheung commented on #14
Some progress: got it working on MacOS and Ubuntu with linked libraries detected using `llvm-config`. Rewrote the API layer using Nan and bindings. Can load Linux coredumps on MacOS now. Will try to build a more full-fledged demo and polish the API on top of that.

https://github.com/joyeecheung/llnode/tree/js-api

[2017-10-13 09:41] No9 commented on #14
@joyeecheung will take a look on FreeBSD over the weekend

[2017-10-16 05:57] joyeecheung commented on #14
A few more progress: put the module (inherits `ObjectWrap` now) and the API into classes. To actually make it possible to instantiate multiple instances would require some surgery in `llscan.cc` and `llnode.cc` to remove the dependency on that global `llv8` instance. The plan is to open a PR when the API is ready, not necessarily when the multiple instantiation is ready.

[2017-11-01 06:45] joyeecheung opened #143 "Does not support inspecting Errors in v8.x"
Looks like v8 has made some significant changes to errors (rewrite in C++), now they are no longer normal objects. The inspection seems to have stopped working since 7.x. I am working on a fix.

[2017-11-03 16:40] mhdawson commented on #17
@rnchamberlain @hhellyer can you help with getting the metadata added to the node binaries.  Maybe at least start by adding an issue in the node repo indicating its needed.

[2017-11-03 17:50] cjihrig commented on #17
Is this all that's needed to add the metadata? https://github.com/cjihrig/node-1/commit/6391209805c79d61fa49bda90a49a211fac49a78

[2017-11-04 19:14] joyeecheung commented on #14
Another progress: redesigned the API a bit, it's documented in https://github.com/joyeecheung/llnode/blob/js-api/JSAPI.md, the instance iterators is still WIP but the other parts are done and tested in https://github.com/joyeecheung/llnode/blob/js-api/test/jsapi-test.js

[2017-11-09 15:44] gibfahn opened #145 "No llnode command in the path when `brew install`ing"
I understand from @rnchamberlain that the latest llnode creates a wrapper script that loads the plugin and runs lldb. This doesn't seem to get installed via brew.

[code]

[2017-11-09 15:47] gibfahn opened #146 "npm install of llnode failing on macOS High Sierra"
Not sure what's going on here (I might be doing something wrong).

[code]

[2017-11-09 15:57] indutny commented on #145
`llnode` is not an executable file. This is a plugin for another executable called `lldb`.

[2017-11-09 16:06] gibfahn commented on #145
https://github.com/nodejs/llnode#quick-start

I thought there was a script that was installed that wrappers lldb with the plugin install.

[2017-11-09 16:19] indutny commented on #145
I think it definitely could! This is a great idea.

@gibfahn sorry, I didn't know that it could do this with npm.

[2017-11-09 16:29] joyeecheung commented on #146
Can you run `xcodebuild -version` and see what comes out of it?

[2017-11-09 16:31] gibfahn commented on #146
[code]

[2017-11-09 16:31] gibfahn commented on #146
I have both command line tools and full xcode installed (I think), but I've `xcode-select`ed the Command Line Tools as my main one.

[2017-11-09 16:35] joyeecheung commented on #145
I think asically what we need to do is make brew install `llnode` as a script that runs this

[code]

BTW I usually just put `plugin load /path/to/my/llnode/plugin` into my `~/.lldbinit` and it works out of the box no matter which version of lldb I am on

[2017-11-09 16:36] gibfahn commented on #145
@joyeecheung does that error if the plugin isn't installed?

[2017-11-09 16:37] joyeecheung commented on #145
@gibfahn You mean the snippet or the `lldbinit` approach? I think in the first case the brew formula would know in advance. In the second case, there would be this:

[code]

[2017-11-09 16:46] joyeecheung commented on #146
I am not a Xcode guru, although from [this SO question](https://stackoverflow.com/questions/17980759/xcode-select-active-developer-directory-error/17980786#17980786)

Maybe run this?

[code]

[2017-11-09 19:14] gibfahn commented on #145
I meant the `lldbinit` approach.

So it prints an error but otherwise works fine? I was thinking of adding it to my dotfiles 😁 .

[2017-11-09 19:19] gibfahn commented on #146
I have both command line tools and full xcode installed (I think), but I've `xcode-select`ed the Command Line Tools as my main one.

[code]

Does llnode require the full version of Xcode? I was hoping to just use the command line tools.

[2017-11-09 20:16] bnoordhuis commented on #146
I currently have full xcode installed but I have built llnode in the past using just command line tools.

[2017-11-09 21:23] gibfahn commented on #146
Then I'm back to being confused about how llnode is "unable to locate lldb binary" if there's one in the path.

[2017-11-09 21:26] bnoordhuis commented on #146
Now that you mention it... it's quite possible I had a local build of lldb on the path.

[2017-11-10 02:35] joyeecheung commented on #146
@gibfahn The configure script tries to get the version of lldb according to `xcodebuild -version`, so if `xcodebuild -version` does not return something for it to parse, then it would fail, I think it's actually trying to say "unable to get the lldb version", because your lldb is separate from `xcodebuild`.

The script cannot figure out the version of lldb by looking at `lldb --version` because on

[2017-11-10 02:56] joyeecheung commented on #145
@gibfahn Yes, it just prints an error and then keeps running, similar to what it does when trying to load a non-existent coredump.

[2017-11-10 03:13] langhuihui commented on #14
great job

[2017-11-11 00:12] gibfahn commented on #146
I had a chat with @hhellyer about this, and we came to the conclusion that:

If you have `lldb` installed, but not `xcodebuild` or `llvm-config`, then you're probably using the latest version of the Xcode Command Line Tools (table [here](https://en.wikipedia.org/wiki/Xcode#Latest_versions)), in which case downloading the latest headers seems like a reasonable default.

I'll raise a PR.

[2017-11-11 03:52] joyeecheung commented on #146
@gibfahn Another possible way to get the version is..uh...just let the user specify that via command line flags. We can always fallback to a reasonable default if everything fails.

[2017-11-16 15:56] mmarchini opened #149 "Detailed findjsobjects output"
I was looking at the mdb_v8 output, and they have quite a different output for this command. For example, instead of grouping objects only by type or by constructor name,  they also use the object properties and array indexes to aggregate them. They also have three other columns (Representative Object, Number of Properties and list of Properties) in their output, which looks like this:

[code]

I

[2017-11-16 19:21] bnoordhuis commented on #149
Nice!

I can think of a few improvements (print length rather than "length" for arrays, make symbol properties display nicely, use an object's `@@toStringTag` if there is one, etc.) but this is a good start.

[2017-11-17 18:12] jamischarles commented on #138
I ran into this issue too. My workaround was the following given this frame:

[code]

1) `select frame 6`
2)
[code]

Sometimes it errors out with this `error: 'source list' takes no arguments, only flags.`, but it seems to work with the above method when I run it immediately after selecting a frame.

[2017-11-20 19:14] mmarchini commented on #149
Thanks for the feedback!

I'll take a look into that this week

[2017-11-23 11:52] antonhappel commented on #146
i solved this by setting the following
`sudo xcode-select -switch /Applications/Xcode.app/Contents/Developer`

Now i can build again. and `xcode-select -v` is also working again

[2017-11-28 16:32] joyeecheung opened #150 "test: the uint8-array in inspect-scenario sometimes gets neutered"
[code]

Discovered during investigation of https://github.com/nodejs/llnode/pull/144

[2017-11-28 17:45] joyeecheung commented on #150
I think this is always the case on v8.9.1

[2017-11-28 17:58] joyeecheung commented on #150
A simple reproduction:

[code]

`a` is not neutered when running this with `lldb -- node --abort_on_uncaught_exception --turbo_inline_array_builtins`, but is neutered if `--turbo_inline_array_builtins` is not passed.

[2017-12-02 17:22] Manouchehri opened #153 "Loading external library symbols"
When the postmortem metadata is in an external library (`libv8.so`), llnode is unable to properly load symbols. My guess is the problem is in https://github.com/nodejs/llnode/blob/master/src/llv8-constants.cc#L41-L92.

[code]

Tried to fix it myself with no luck.. =(

[2017-12-03 01:12] joyeecheung commented on #153
I tried to add loading from shared libs but the symbols of my local libv8 build look a bit weird...I'll keep investigating

[code]

compared to what I get from a node executable

[code]

[2017-12-03 01:21] Manouchehri commented on #153
I'll try testing https://github.com/joyeecheung/llnode/tree/shared_lib. One minute..

[2017-12-03 01:26] Manouchehri commented on #153
This is what I get on Linux (x64) with my build.

[code]

[2017-12-03 08:22] joyeecheung commented on #153
OK I think I've got the Mac working with shared libs at https://github.com/joyeecheung/llnode/tree/shared_lib..will look into Linux later.

[code]

I built the d8 with

[code]

[2017-12-03 18:02] Manouchehri commented on #153
Nice, got it running here too! I get a bunch of weird `DW_TAG_variable` errors though, and I cannot inspect a function (although oddly enough printing works).

[code]

Likewise, my `args.gn` is:

[code]

[2017-12-04 15:07] joyeecheung commented on #153
@Manouchehri I think the source inspection bug could be related to https://github.com/nodejs/llnode/issues/138 , it's pretty weird that the result is not stateless

[code]

[2017-12-04 15:17] joyeecheung commented on #153
Ah, wait, so the source inspection actually works and it's state less because those commands are essentially aliases and shared the state. It fails when inspecting the Function because it can not be loaded as a Function..

[2017-12-08 13:56] mmarchini commented on #149
Did you mean using `JSObject::GetArrayLength()` instead of `JSArray::Length`?

I did some digging into that but seems like llnode doesn't support Symbol properties or `@@toStringTag` yet (I'll open another issue to investigate it in the future). I like the idea of using `@@toStringTag` when it's present, but what should we do when `@@toStringTag` is a function? For example:

[code]

[2017-12-08 14:22] mmarchini opened #156 "inspect objects with "Symbol" attributes"
Inspect commands can't handle Symbol attributes (e.g. @@toStringTag and @@unscopable), resulting in `<non-string>` properties.

For example, the following code uses the `@@toStringTag` symbol:

[code]

If we use llnode to find out the properties for `bar`, it will give the following output:

[code]

As you can see, there's a `<non-string>` property instead of our symbol.

I was looking at llnode a

[2017-12-09 13:50] bnoordhuis commented on #156
Can you try this patch with node.js master?  That should add the metadata for symbols although llnode still needs to be taught to use it.
[code]
That gives you these:
[code]

[2017-12-09 21:20] bnoordhuis commented on #149
Sorry, I didn't make that clear.  In your demo it prints "(Array): length" which is factually correct (arrays have a "length" property) but arguably less useful than the actual numeric length. :-)

Nothing.  The idea is to use it when it's  a simple data property, or use something else when it's not.

[2017-12-11 18:41] mmarchini commented on #149
Got it now :)
I agree, the actual numeric length is more useful, but this information is already present in the 5th column:

1. Column to display length + keep length property

[code]

Here are a few suggestions for alternative ways to display the numeric length (showing or hiding the `length` property):

2. Column to display length + hide length property

[code]

3. Display the length after const

[2017-12-12 11:44] bnoordhuis commented on #149
Oh, I missed that in the demo.  Perhaps show the first few elements when it's a JSArray?

(I'm saying that like it's easy.  I realize it adds quite a bit of special-casing.)

[2017-12-19 16:07] cjihrig opened #158 "Upcoming metadata changes"
The following changes are coming:

- `v8dbg_class_Map__inobject_properties_or_constructor_function_index__int`
  - This is now `v8dbg_class_Map__inobject_properties_start_or_constructor_function_index__char` as of https://github.com/v8/v8/commit/61bf2cc69217a4e9c7a40bb74269508fa26c2062
- `v8dbg_class_Map__instance_attributes__int`
  - This is now `v8dbg_class_Map__instance_type__uint16_t` as of ht

[2017-12-21 06:17] #153 closed

[2017-12-26 13:07] mmarchini opened #159 "test: errors running test/scan-test.js on Ubuntu 17.10"
I was beginning to write tests for #155, but I'm unable to run tests from `test/scan-test.js` on my machine. Not sure if I'm doing something wrong or if there's something wrong in my environment.

**Command**: `LLNODE_CORE=core LLNODE_NODE_EXE=$(which node) LLNODE_NO_RANGES=true npm test`
**Operating System**: Ubuntu 17.10
**LLDB**: v3.9 and v4.0
**Node**: v8.8.0
**Branch**: `master`

Those are th

[2017-12-26 15:13] joyeecheung commented on #159
Fix opened in https://github.com/nodejs/llnode/pull/160, I've tried it in my ubuntu xenial box.

[2017-12-26 16:21] mmarchini commented on #159
@joyeecheung thanks for looking into it, your patch works here :)

[2017-12-27 03:18] #159 closed

[2018-01-02 10:23] joyeecheung opened #161 "New releases?"
Refs: https://github.com/nodejs/admin/issues/34

Hi, I think it's time for a new release now (v1.6.3?). @hhellyer @rnchamberlain @indutny. I opened https://github.com/nodejs/admin/issues/34 to ask about the npm release process of foundation projects and it looks like we should open an issue in the project repo, so here it is. I can also do it if you agree to add me to the npm collaborators list (I

[2018-01-02 10:53] gibfahn commented on #161
FWIW I _think_ @hhellyer is out till Thursday, so this might have to wait till the end of the week.

[2018-01-02 11:40] rnchamberlain commented on #161
I'm happy to add @joyeecheung to collaborators on https://www.npmjs.com/package/llnode if no-one objects. I think the above is all the release process amounts to, but yes, you might want to wait and check with @hhellyer.

[2018-01-03 10:12] rnchamberlain commented on #161
No objections, I have added @joyeecheung as a collaborator on https://www.npmjs.com/package/llnode

[2018-01-04 11:12] hhellyer commented on #161
@joyeecheung - Yes, I try to let the npm commands take care of things as much as possible. It's not a formal process and I'm not an npm expert either so feel free to make amendments or corrections.

From my own notes my steps are usually:
- Update the package.json via `npm version patch` and commit the change via a PR.
- Create a release in github to tag the code with the new version. (I usually p

[2018-01-04 11:47] mmarchini commented on #161
@hhellyer now that Travis is working again, we could setup it to deploy every time a tag is created: https://docs.travis-ci.com/user/deployment/npm/#What-to-release. That way only steps one and two are required :)

[2018-01-06 11:59] #161 closed

[2018-01-06 12:17] joyeecheung commented on #161
I just published v1.6.3, here is what I did

1. On the release branch, run `npm pack`, move `llnode-1.6.3.tgz` to a different location, `tar zxvf llnode-1.6.3.tgz` -> `cd packages` -> `npm install` to make sure it installs OK and does not contain redundant files (also this is how I discovered https://github.com/nodejs/llnode/pull/164)
1. Opened https://github.com/nodejs/llnode/pull/163 (this was a

[2018-01-06 12:19] joyeecheung commented on #161
@mmarchini Yes that would be nice, but Travis is still a bit flaky at the moment due to #150, we can revisit that when it's fixed.

[2018-01-08 04:10] blair319 opened #165 "llnode install error"
[root@apitest debug]# sudo npm install -g llnode
npm WARN lifecycle llnode@1.6.3~preinstall: cannot run in wd %s %s (wd=%s) llnode@1.6.3 node scripts/configure.js /usr/lib/node_modules/.staging/llnode-57df66d2
/usr/bin/llnode -> /usr/lib/node_modules/llnode/scripts/llnode.sh

You need to install gyp in tools/gyp first, run:
  svn co http://gyp.googlecode.com/svn/trunk tools/gyp
or
  git clone http

[2018-01-08 04:27] blair319 commented on #165
I install gpy but then throw other err

npm WARN lifecycle llnode@1.6.3~preinstall: cannot run in wd %s %s (wd=%s) llnode@1.6.3 node scripts/configure.js /root/debug/node_modules/.staging/llnode-7dcba5e8

['/root/debug/node_modules/llnode/llnode.gyp.json', '-I', '/root/debug/node_modules/llnode/common.gypi', '--depth=.', '-f', 'make', '-Goutput_dir=/root/debug/node_modules/llnode/out', '--generato

[2018-01-08 09:21] bnoordhuis commented on #165
Where did you install npm too?  (Did you install npm?)  What do `which node` and `which npm` print?

[2018-01-09 06:03] blair319 commented on #165
@bnoordhuis
root@keke:~/blair# which node
/usr/local/bin/node
root@keke:~/blair# which npm
/usr/local/bin/npm
root@keke:~/blair# npm -version
5.6.0

[2018-01-09 06:53] blair319 commented on #165
OK，install npm，but

root@keke:/usr/local/lib/debug# ll web3.log.29125
-rw-r--r-- 1 root root 1315052264 1月   8 10:50 web3.log.29125
root@keke:/usr/local/lib/debug# /root/node-v8.9.4-linux-x64/bin/llnode -c web3.log.29125
(lldb) target create --core "web3.log.29125"
Core file '/usr/local/lib/debug/web3.log.29125' (x86_64) was loaded.
(lldb) plugin load /root/node-v8.9.4-linux-x64/bin/../lib/node_mo

[2018-01-09 07:37] blair319 commented on #165
Why findobjects print so little data?

lldb) target create "node" --core "core.19119"
Core file '/usr/local/lib/debug/core.19119' (x86_64) was loaded.
(lldb) plugin load /root/node-v8.9.4-linux-x64/bin/../lib/node_modules/llnode/llnode.so
(lldb) settings set prompt '(llnode) '
(llnode) v8 bt
 * thread #1: tid = 19120, 0x00007f5addce0a0b, name = 'www', stop reason = signal SIGSTOP
  * frame #0: 0x0

[2018-01-09 10:08] joyeecheung commented on #165
Did you make sure the executable loaded in lldb is the one that you use to produce the coredump?

[2018-01-15 15:13] ilovezfs opened #166 "Current stable?"
https://github.com/nodejs/llnode/releases
shows v1.6.3 and v1.6.2

But https://github.com/nodejs/llnode/releases/latest
still points to v1.6.2

[2018-01-15 15:27] joyeecheung commented on #166
Thanks for reporting. This is now fixed. https://github.com/nodejs/llnode/releases/tag/v1.6.3

[2018-01-15 15:27] #166 closed

[2018-01-15 15:28] joyeecheung commented on #161
Didn't notice that we also do a release on Github. This is what I used to generate the release notes:

[code]

[2018-01-15 15:31] ilovezfs commented on #166
Thanks @joyeecheung! Voilà: https://github.com/Homebrew/homebrew-core/pull/22892

[2018-01-24 02:43] #149 closed

[2018-02-05 23:18] mmarchini commented on #158
These metadata changes landed with https://github.com/nodejs/node/pull/17489, thus llnode is not working with `node` compiled from source. There's also one more missing: `v8dbg_prop_type_mask`.

[2018-02-06 02:42] cjihrig commented on #158
That one is expected. It's used [here](https://github.com/nodejs/llnode/blob/20b14d967ecfe60a3b778611de04bad4f59b14b9/src/llv8-constants.cc#L461-L463) for Node.js version detection.

[2018-03-02 21:08] mmarchini opened #169 "meta: logo for the project"
Hey!

Wouldn't it be cool if llnode had a logo? Our designer (@raissasf) came up with a few ideas for it!

1.
![logo1_500px](https://user-images.githubusercontent.com/4048656/36921826-8440c07e-1e44-11e8-85ad-8c8415867256.png)

2.
![logo2_500px](https://user-images.githubusercontent.com/4048656/36921827-845fc776-1e44-11e8-922e-44b0a0df66cc.png)

3.
![logo3_500px](https://user-images.githubuserconte

[2018-03-02 21:12] indutny commented on #169
I love it! Great work, @raissasf!

[2018-03-02 21:28] joyeecheung commented on #169
Nice work!

(Can we display ascii art in something like `v8 about`? XD)

[2018-03-08 19:26] mmarchini commented on #169
Which one do you prefer? I can open a PR to add it to our readme

I think we can, yeah XD

[2018-03-13 14:44] joyeecheung commented on #169
Closed via https://github.com/nodejs/llnode/pull/171, thanks!

[2018-03-13 14:44] #169 closed

[2018-03-13 16:31] mmarchini opened #173 "make install-osx not working (./out/Release/llnode.dylib: No such file or directory)"
Not sure if there's something wrong on my machine or if the installer is actually broken. Anyone else got this error? If so I can submit a fix.

[code]

[2018-03-13 17:11] joyeecheung commented on #173
I think it should copy the dylib from the project directory because cleanup.js now moves `./out/Release/llnode.dylib` there?

[2018-03-13 17:28] mmarchini commented on #173
Yeah, I fixed it locally but wasn't sure if it was happening just to me, so I decided to check before submitting the fix. Just tested in a Linux machine and `make install-linux` is also broken.

PR with the fix: https://github.com/nodejs/llnode/pull/174

[2018-03-13 19:41] #173 closed

[2018-03-21 20:19] mmarchini opened #179 "Color output for commands"
While trying to come up with a comprehensible output format for https://github.com/nodejs/llnode/issues/115, I decided to play with colors in llnode commands outputs:

[![asciicast](https://asciinema.org/a/171606.png)](https://asciinema.org/a/171606)

Not entirely sure if this is something we want to have on llnode since we'll need to detect if the terminal supports color (I have no idea how to do

[2018-03-21 20:48] mmarchini commented on #115
I was playing with some ideas on how to output this. Here is what I've got so far:

[![asciicast](https://asciinema.org/a/EfgFwltSW8NHNzkIN1hpbM378.png)](https://asciinema.org/a/EfgFwltSW8NHNzkIN1hpbM378)

For small trees, I believe something like this would work. We could add a `--max-depth` flag to limit the output size for larger trees. Also, after https://github.com/nodejs/llnode/pull/147 land

[2018-03-22 10:50] joyeecheung commented on #179
We can use an environment variable or a command line flag to control the colors (for example to work around tests or other cases where we need to redirect the output to a file)

[2018-03-22 10:53] joyeecheung commented on #179
BTW I have this when I needed to write the output of a command to a file when it's too long to read in the terminal (e.g. the result of `v8 findjsinstance`)

`~/.lldb/to_file.py`

[code]

`~/.lldbinit`

[code]

[2018-03-22 15:01] mmarchini commented on #179
Ohh, nice script! I usually do `lldb node -c core -b -o "v8 findjsinstances" > output.txt`, but I need to quit lldb to use this :/.

I was thinking: we could have something like `v8 settings set color on` (off by default), and then use the llnode script to determine if the terminal is color-friendly. If it is, turn on color with `--one-line "v8 settings set color on"` before starting lldb. What do

[2018-03-22 15:28] joyeecheung commented on #179
@mmarchini SGTM

[2018-03-26 11:00] gibfahn commented on #179
If we do this (which I think we should) I think the standard is to set `--color=auto`, which outputs color if the stdout/stderr is a tty, and not otherwise. Then you can have always or never as options. That seems to be what other programs I've used tend to have.

[2018-03-27 16:32] cjihrig opened #180 "Upcoming metadata changes in V8 6.7"
The following changes are coming:

- `v8dbg_class_SharedFunctionInfo__code__Code`
  - This is now combined with `SharedFunctionInfo`'s `function_data`.
  - Renamed: `v8dbg_class_SharedFunctionInfo__function_data__Object`
  - V8 commit: https://github.com/v8/v8/commit/51ded9d3c0dc430217253595027c6ed207d8cc2d

- `v8dbg_class_SharedFunctionInfo__raw_name__Object` and
- `v8dbg_class_SharedFunctionInfo

[2018-03-29 03:56] joyeecheung opened #181 "Drop support for the original gyp?"
I was trying to merge `gyp_llnode` into `scripts/configure.js` and make `llnode.gyp` just `binding.gyp` (also in preparation for https://github.com/nodejs/llnode/pull/147). I noticed that it would be easier if we just drop support for the original gyp and only supports node-gyp, which handles a lot of configuration done by `gyp_llnode`.

Note that on master, cloning`https://chromium.googlesource.c

[2018-03-29 03:57] joyeecheung commented on #181
cc @indutny @bnoordhuis @hhellyer  what do you think?

[2018-03-29 06:55] bnoordhuis commented on #181
I'm fine with that.

[2018-03-29 09:26] indutny commented on #181
:+1:

[2018-03-31 13:39] #181 closed

[2018-04-02 10:04] omerbn opened #184 "installation issues on linux16.04"
Hey, I'm getting the following error after running:
[code]

[2018-04-02 10:50] bnoordhuis commented on #184
You're trying to install to `/usr/lib` so you'll need the appropriate privileges (root).  Note that npm drops privileges unless you specify `--unsafe-perms`.

[2018-04-02 11:35] omerbn commented on #184
Thanks,

The error persists when running:

[2018-04-02 16:19] joyeecheung commented on #184
Hi, how did you install your node and npm? Can you try the options provided by [the documentation of npm](https://docs.npmjs.com/getting-started/fixing-npm-permissions)?

[2018-04-03 09:50] omerbn commented on #184
I have followed the 2nd option in that document.
I am still getting this error.

What am I doing wrong?

[2018-04-03 11:27] No9 commented on #184
Hi @omerbn
I've tested this on an ubuntu 16.04 also with option 2 from the npm permissions options Joyee gave and got no problems.

I noticed in my log that it selects the build directory to be on the path that is relative to the prefix I gave to the npm configuration where as the log above is still pointing at `Build dir is: /usr/lib/node_modules/llnode`
Can you confirm the prefix for the user yo

[2018-04-04 11:38] joyeecheung commented on #184
@omerbn Do your user own the directory `/home/ubuntu/.npm-global`? What's your installation log after configuring your npm prefix?

[2018-04-04 11:40] joyeecheung commented on #184
Also, if you simply want to use llnode, you don't have to install it globally. `git clone` this repo then `npm install` there would build the plugin, then you can load the plugin into lldb via 2, 3, or 4 in https://github.com/nodejs/llnode#loading-the-llnode-plugin

[2018-04-04 12:04] mmarchini commented on #184
`npx llnode` usually works as well.

[2018-04-04 12:27] omerbn commented on #184
I've managed to resolve the issue by installing node-gyp.
I didn't see this missing-package while running in root mode.

Thank you guys!

[2018-04-04 18:02] joyeecheung commented on #184
@omerbn Kind of confused why reinstalling node-gyp fixed the permission issues in the preinstall hook, but glad to hear that it worked out. I'll close this now, thanks.

[2018-04-04 18:02] #184 closed

[2018-04-08 09:25] omerbn commented on #184
I'm confused too, but it worked. ⭕️

Thank you guys for the help!

[2018-04-24 11:53] mmarchini opened #187 "Periodic test against master and canary"
I think we should have nightly/weekly test runs against master and canary. This would help us know earlier when something breaks. https://github.com/nodejs/node/pull/17685 was an awesome start, but as @bnoordhuis said in the PR it won't catch semantic changes.

I'm willing to setup the infrastructure for it. I just need to know if we can have this on Travis (by using https://docs.travis-ci.com/use

[2018-04-24 12:00] mmarchini commented on #187
We could even have a status table in the readme 😄

| Version | Status  |
|---------|---|
| 6.x     | ![build passing](https://img.shields.io/badge/build-passing-brightgreen.svg)  |
| 8.x     | ![build passing](https://img.shields.io/badge/build-passing-brightgreen.svg)  |
| 9.x     | ![build passing](https://img.shields.io/badge/build-passing-brightgreen.svg)  |
| 10.x    | ![build passing](https:

[2018-04-24 12:17] joyeecheung commented on #187
There is https://github.com/nodejs/build/pull/1025 by the way.

I have seen people wgetting nightlies in the scripts to run tests on nightlies with Travis, but that looks rather hacky...

[2018-04-24 12:40] mmarchini commented on #187
I saw that PR a while ago, but it seems stalled for some time. I'll take a look and see if we can get some traction on it.

BTW, should we move our current CI infrastructure from Travis to our Jenkins?

[2018-04-24 13:35] joyeecheung commented on #187
@mmarchini That's the plan, but until it happens Travis is better than nothing.

[2018-05-01 17:55] mmarchini commented on #187
I looked into Travis docs and it seems like they use nvm to manage Node.js versions. *Maybe* we can use it to get nightlies in a not-so-hacky way. I think I'll try to add something to Travis while we don't have support for llnode on Jenkins.

[2018-05-01 19:50] mmarchini commented on #158
I think we should reopen this Issue, we updated the metadata names, but we didn't fix semantic changes. `npm test` have six failing tests on Node.js v10.0.0.

I started to investigate them, and I think at least three failures are happening because of https://github.com/v8/v8/commit/61bf2cc69217a4e9c7a40bb74269508fa26c2062. If I understood the patch correctly, it moved the internal properties of `M

[2018-05-02 02:16] joyeecheung commented on #187
Last time I checked we cannot access the admin page of Travis (mainly because we do not authorize Travis or any other third-party services to read the nodejs organization). Now this restriction makes less sense since we moved the security repos out of this organization though.

[2018-05-02 14:09] mmarchini opened #190 "meta: supported Node.js versions"
Now that Node.js v4.x is EOL, should we drop support for it? If we do, should this be a major llnode release?

IMO we should:
* Do a best-effort to support all active Node.js release lines, and we should drop support for EOL versions.
* Do a major release every time we add/drop support to a release line.
* Document which versions Node.js each llnode major supports. This could be a table in our REA

[2018-05-02 14:52] bnoordhuis commented on #190
Agreed on all 3 points.

[2018-05-02 22:14] mmarchini commented on #187
Crazyish idea: maaaaybe we could contact Travis support, explain the situation and see if they could enable daily Cron jobs against master for us 😶

[2018-05-02 23:26] joyeecheung commented on #190
SGTM

[2018-05-02 23:31] joyeecheung opened #191 "meta: nominate @mmarchini to be a collaborator"
@mmarchini is a Node.js core collaborator and member of the diagnostics WG and has been doing a lot of work on this project lately. He does not yet have collaborator access to this project though, so I would like to nominate him to be a collaborator.

[2018-05-03 18:26] cjihrig commented on #191
I'm not even really sure if I'm considered an llnode collaborator, but +1 from me.

[2018-05-03 19:40] mmarchini commented on #180
I plan to start working on this next week, so we'll be prepared when V8 6.7 land on v10.0.0.

I don't think `v8dbg_class_SharedFunctionInfo__function_data__Object` will impact llnode. I couldn't find any call to `SharedFunctionInfo::GetCode`... `v8dbg_class_SharedFunctionInfo__name_or_scope_info__Object` will be fun though 😅

[2018-05-03 19:54] cjihrig commented on #180
When I originally created the postmortem metadata test, I added the constants from llnode and mdb_v8, so it could be an mdb_v8 thing.

[2018-05-03 21:44] cjihrig commented on #190
SGTM

[2018-05-07 00:27] cjihrig opened #193 "Upcoming metadata changes in V8 6.8"
- v8dbg_context_idx_closure
  - Renamed: v8dbg_context_idx_scope_info
  - V8 commit: https://github.com/v8/v8/commit/39496a95c53934ecb80d083003b4dd11056c9f20#diff-f3f182b0510ba2ee39ae87e421ff110b

See https://github.com/nodejs/node-v8/pull/60

[2018-05-07 13:12] mmarchini commented on #193
If someone wants to work on this, I strongly suggest waiting for V8 6.8 branch cut (ETA: May 24th, 2018), because there might be other metadata changes until then.

[2018-05-08 14:47] mmarchini opened #194 ""v8 version" or "llnode --version""
Today there's no easy way to get llnode's version, making it harder to report issues with detailed information. We could either have a llnode command `v8 version` or a command line argument `--version` reporting llnode's version, maybe showing LLDB's version as well.

[2018-05-08 14:53] mmarchini opened #195 "Should findrefs display context/scope objects?"
* **Version**: llnode 1.7.0, node v8.11.1
* **Platform**: OS X (10.13.4)
* **Subsystem**: findrefs

Let's say we have an object which is not referenced by any other objects, but is scoped by a function or by a script. Should `v8 findrefs [obj addr]` return nothing (current behavior), or should it return the scope this object belongs to? IMO we should change the behavior to return the scope as well

[2018-05-08 15:07] mmarchini opened #196 "Segmentation fault with `v8 findrefs -s` on master with aborted process inside lldb"
* **Version**: llnode master, node v8.11.1
* **Platform**: OS X (10.13.4)
* **Subsystem**: findrefs

Sometimes I'm getting a Segmentation Fault when I try to use `v8 findrefs -s` on master. Weirest thing is most of the times it just work, making this one a little tricky to track down. Creating an issue to remind myself to look into it later.

Example:

**index.js**
[code]

**llnode results**
[code

[2018-05-08 15:14] mmarchini opened #197 "Should we show "Class objects" as objects?"
* **Version**: llnode 1.7.0, node v8.11.1
* **Platform**: OS X (10.13.4)
* **Subsystem**: findjsobjects, findjsinstances, inspect

Right now if we declare a class (let's say, `Lira`), and we don't create an instance of that class, `v8 findjsobjects` will still show us that we have 1 instance of `Lira`. If we have a class with instances (let's say, `Lero`), `v8 findjsobjects` will show us one more

[2018-05-10 13:15] mmarchini opened #198 "Methods appearing as "<unknown field type>" on Node.js v8.x+"
* **Version**: llnode master
* **Platform**: OS X (10.13.4)
* **Subsystem**: findjsinstances -d, inspect

llnode can't inspect methods on Node.js v8.x or later. v6.x works fine.

**node v6.14.2**
[code]

**node v8.0.0** (or later)
[code]

**index.js**
[code]

[2018-05-10 19:00] mmarchini commented on #197
Maybe we could look at in object properties count? Seems to be zero every time the object is a class and non-zero otherwise.

`SharedFunctionInfo::compiler_hints` has the IsClassConstructor bit on even on some instances (for example, if a class doesn't implement its own constructor), so it doesn't seem to be an accurate check. There's also the IsConstructor bit in `Map::bit_field`, but I could'nt

[2018-05-10 20:42] bnoordhuis commented on #197
Is that still true when you do `C.x = 1` (where C is a class)?

[2018-05-11 15:27] bnoordhuis commented on #195
Including the owning context(s) in the output sounds like a good idea to me.

[2018-05-14 12:38] joyeecheung commented on #191
It's been 12 days and I think that's probably enough time for a nomination to go through. I've added @mmarchini to the collaborators of this repo. If anyone has different thoughts on this (although I doubt anyone will but you know, one needs to ask) please contact me privately using the email on my profile page.

[2018-05-14 12:38] #191 closed

[2018-05-14 12:42] joyeecheung commented on #195
SGTM, otherwise one will hit a dead end with objects like that.

[2018-05-14 12:44] joyeecheung commented on #196
Not sure if it's related but I've also hit some segmentation faults when trying to inspect objects with some huge core dumps. Haven't looked into it too much.

[2018-05-14 12:47] joyeecheung commented on #194
Having an `v8 version` should be enough, `--version` of the `llnode` may just redirect the output to stdout somehow.

[2018-05-14 12:50] joyeecheung commented on #194
Technically we could read package.json in the configuration scripts and compile the version numbers into the plugin...otherwise if we maintain something in the source code we could forget about updating it.

[2018-05-14 13:00] mmarchini commented on #194
We use [bumpversion](https://github.com/peritus/bumpversion) here at Sthima to easily bump versions in our projects. It is a Python tool though, and I'm not aware of any similar tool for Node.js :(

But I think reading from package.json might be feasible as well.

[2018-05-15 18:36] #158 closed

[2018-05-28 16:07] #180 closed

[2018-05-31 16:05] mmarchini commented on #187
@joyeecheung now that [we can properly enable Travis in org repositories](https://twitter.com/trott/status/1002200727962423296), should we still migrate to Jenkins or should we stick with Travis?

I think it's a good idea to stay with Travis since it will not inflict more burden on the Build WG and also make our setup a lot easier.

[2018-06-01 15:05] joyeecheung commented on #187
@mmarchini We can keep Travis because it's automatic, but enabling Jenkins would allow us to test it on more platforms.

(Also I think we are trying to add Travis to the core as well, just for a faster check)

[2018-06-05 15:22] mmarchini opened #202 "Upcoming metadata changes in V8 6.9"
- v8dbg_class_SharedFunctionInfo__internal_formal_parameter_count__int
  - Renamed: v8dbg_class_SharedFunctionInfo__internal_formal_parameter_count__uint16_t
  - V8 commit: https://github.com/v8/v8/commit/53d4dfc3771dda011ba95d0f825fabb83219ff51
- v8dbg_scopeinfo_idx_nstacklocals
  - Removed
  - V8 commit: v8/v8@467eb14

[2018-06-06 00:09] mmarchini commented on #76
Closing as the question has been answered. Feel free to reopen if you believe there's anything left to be discussed here.

[2018-06-06 00:09] #76 closed

[2018-06-06 00:14] mmarchini commented on #37
Testing on TravisCI is working, and the Build WG is working to create a llnode job on Jenkins (https://github.com/nodejs/build/pull/1025). Since we have a llnode test suite working right now and there's a tracking issue to create the Jenkins job, I'll close this, but feel free to reopen.

[2018-06-06 00:14] #37 closed

[2018-06-06 00:15] mmarchini commented on #143
@joyeecheung is this still an issue?

[2018-06-06 06:33] joyeecheung commented on #143
@mmarchini Yes.

With this:

[code]

I got:

[code]

[2018-06-07 19:53] mhdawson commented on #17
@joaocgreis great to see this come in :)

[2018-06-18 20:37] joyeecheung commented on #187
@mmarchini I guess if you have write access to this repo, then you can have access to Travis?

[2018-06-28 20:38] mmarchini opened #209 "process object with weird attributes in Node.js v10.5.0"
[code]

For example, `platform=<Smi: 1>` should be a string. Node.js v10.4.1 is working fine.

`git bisect` points to nodejs/node@ba17c9e46b0200f10c6289c4407ca57b846bd3ce as the offending commit.

[2018-07-01 16:55] mmarchini commented on #209
@joyeecheung have you found other issues in v10.5.0 besides this one?

[2018-07-03 09:13] joyeecheung commented on #209
@mmarchini Not yet, I have not used llnode much with v10.x or master lately

[2018-07-04 11:34] joyeecheung commented on #209
Interestingly, llnode is not broken on v10 on Linux: https://travis-ci.com/nodejs/llnode/jobs/132771982/config though it's broken on macOS, I have not tested on other platforms yet.

[2018-07-04 12:40] mmarchini opened #211 "`v8 inspect` and ScopeInfo/Context objects"
`v8 inspect` don't work with ScopeInfo and Context objects, and it probably should.

[2018-07-04 14:10] mmarchini commented on #209
Weird, but good to know. I'll try to look into it later this week.

[2018-07-09 11:40] #100 closed

[2018-07-10 12:41] nanzhangren opened #213 "'v8' is not a valid command"
After install the llnode by **npm install llnode**, I try to run the v8 in lldb, but the error below caught me:
_(lldb) v8
error: 'v8' is not a valid command.
error: Unrecognized command 'v8'._

[2018-07-10 14:15] mmarchini commented on #143
@joyeecheung are you still working on this? If not, would you mind if I take this on?

[2018-07-10 15:41] joyeecheung commented on #143
@mmarchini I probably lost the initial investigation with my last laptop...feel free to take this!

[2018-07-10 15:52] joyeecheung commented on #213
Did you run `npm install llnode`, or `npm install -g llnode`? You need to install it globally to use the `llnode` shortcut, otherwise you need to follow [other instructions](https://github.com/nodejs/llnode#loading-the-llnode-plugin) in the README to load it into lldb.

[2018-07-11 10:03] nanzhangren commented on #213
My mistake, I just have not loaded llbnode to lldb. Thanks!

[2018-07-11 10:04] #213 closed

[2018-07-12 11:42] robertkowalski commented on #138
same here, so far i haven't been able to print any source

[2018-07-12 18:30] misterdjules commented on #143
@mmarchini Isn't the `stack` property [an accessor that replaces itself with a data property at runtime with the formatted stack trace](https://github.com/v8/v8/blob/8109d7e1f11f42af08bf5cbe5ca1313f14589a55/src/accessors.cc#L1142-L1201)? Could that explain why llnode has some difficulties displaying some useful info about it?

[2018-07-12 18:32] misterdjules commented on #138
@robertkowalski The issue you're running into seems like it might be a different problem. Would you mind opening a separate issue that provide as much detail as possible, such as the node version you're using, and detailed repro steps?

[2018-07-12 19:13] mmarchini commented on #143
@misterdjules yep, that's what I got so far as well. The actual stack trace seems to be stored in the `.<non-string>=0x00003347c1720bd1:<Array: length=46>`, unfolding it should be enough to get a nice stack trace for the Error object. I'm also working on https://github.com/nodejs/llnode/issues/156 to display the symbol of this property correctly.

[2018-07-12 19:50] mmarchini commented on #156
@bnoordhuis yes, this patch is enough on the V8 side. Will you submit a CL with these changes?

[2018-07-13 00:04] joyeecheung commented on #101
By the way I implemented MAT's algorithm on V8 heap snapshots in JavaScript: https://github.com/joyeecheung/v8-mat

The algorithm probably does not work on core dump (or heap snapshots converted from core dumps) yet because we don't have enough GC root information in the post-mortem metadata. The algorithm starts by iterating the GC roots in the heap and look at their dominated nodes.

[2018-07-17 21:55] stevenschlansker opened #216 "basic_string out_of_range while parsing node crash"
We had a `node` crash, and while attempting to analyze its core file with `llnode 1.7.1` `lldb 360.1.70`:

[code]

[code]

The failure is 100% reproducible with the core file I have (2.1GB, though, so I can't easily share it)

[2018-07-19 17:59] stevenschlansker commented on #216
core is from node `8.9.3`

I totally understand `llnode` may not be able to parse out all strings -- the process crashed, it's quite possible some of the heap is corrupt.  But seeing as this is a debugging utility maybe it can be more robust -- print out a warning that the string could not be rendered and replace it with `invalid string #1 length 123405` for example, instead of allowing an uncaugh

[2018-07-20 07:35] joyeecheung commented on #216
@stevenschlansker

I agree, this is more of an oversight in the code base (we don't usually do enough checks in the inspectors and just assume the values are legit)

[2018-07-23 18:51] mmarchini commented on #156
@bnoordhuis would you mind if I open a CL with these changes, or do you want to do it?

[2018-07-28 03:14] mmarchini opened #218 "Inspect the `stack` property on Error objects"
It would be useful if llnode could inspect the stack property of an Error object. Since the stack property is an [accessor](https://github.com/v8/v8/blob/8109d7e1f11f42af08bf5cbe5ca1313f14589a55/src/accessors.cc#L1142-L1201), it might be tricky to make it work though.

[2018-07-30 23:39] misterdjules commented on #218
The stack property is an accessor, but the actual internal data about the actual stack frames is [stored as a symbol property](https://github.com/v8/v8/blob/8109d7e1f11f42af08bf5cbe5ca1313f14589a55/src/accessors.cc#L1152-L1153), isn't it?

[2018-07-30 23:58] misterdjules commented on #218
FWIW, this is the poor-man error stack output that I use sometimes with mdb_v8:

[code]

[2018-08-01 08:40] gentlejo commented on #112
@hhellyer Oh so sorry for replying late. It was fixed! Thank you! 👍

[2018-08-06 16:49] mmarchini commented on #209
This issue is reproducible on FreeBSD 11.2-RELEASE with LLDB 4.0 and 6.0.

[2018-08-06 18:30] mmarchini commented on #209
Interesting. I thought this could be an issue with `clang` builds, but building node on Linux with clang gives the correct output. Running llnode on OSX to inspect a Linux binary + core dump also gives the correct output. I wonder what's so different between Linux and OSX/FreeBSD to cause such a weird bug.

[2018-08-07 19:11] mmarchini commented on #218
POC: https://asciinema.org/a/aTVDALs09R4bSuhib0oDjT3xs

The core dump was generated with `node --abort-on-uncaught-exception --expose_externalize_string ./test/fixtures/inspect-scenario.js` (https://github.com/nodejs/llnode/blob/master/test/fixtures/inspect-scenario.js). As you can see, we can inspect the stack from both Error objects generated by this script 😄.

I still need to add more metadata

[2018-08-07 20:01] misterdjules commented on #218
@mmarchini Great progress, that's amazing!

Thinking out loud: asciinema makes it difficult for me to scroll up/down, and I generally find it makes it more difficult to read than just some text in a code block.

mdb_v8 shows the position where the function is _defined_. So I think what you have is fine!

Great job once again!

[2018-08-08 16:08] #187 closed

[2018-08-09 06:59] sanghyukp opened #220 "npm install -g llnode failed due to 'ENOENT: no such file or directory, chmod '/usr/lib/node_modules/llnode/llnode.sh'"
I run the following command and then got an error

[code]
my environment like that
CentOS Linux release 7.5.1804 (Core)
[centos@core-dump ~]$ npm -v
4.2.0
[centos@core-dump ~]$ node -v
v7.10.1

[2018-08-09 18:27] joyeecheung commented on #220
Hi, if you have to install it with root privileges, you'll need to add `--unsafe-perm`, but I'd suggest you avoid doing that and install Node.js/npm properly so that you don't need to `sudo`, unless it's a throw-away machine. See [npm's documentation](https://docs.npmjs.com/getting-started/fixing-npm-permissions)

[2018-08-09 18:27] joyeecheung commented on #220
Closing as it's not an llnode bug.

[2018-08-09 18:27] #220 closed

[2018-08-12 01:11] mmarchini commented on #218
Sure: https://github.com/mmarchini/llnode/tree/js-error-stack.

It should work on `v6.14.3`, `v8.x-staging` and `v10.8.0`, but I don't remember which version I tested on (probably 10).

[2018-08-12 20:02] joyeecheung commented on #209
@mmarchini I believe that's because lldb does not support saving core dumps on Linux (at least not in 3.9)

[2018-08-16 16:09] mmarchini opened #223 "Suggestion: Update the repository description"
Our current repository description is:

`Node.js C++ lldb plugin `

![image](https://user-images.githubusercontent.com/4048656/44220471-14ea6d80-a155-11e8-92a6-5af001682ea4.png)

Although it is accurate, I don't think it gives enough information for users to understand what they can do with llnode. We could change the description to something more descriptive. For example:

`Post-mortem analysis t

[2018-08-20 13:37] mmarchini commented on #223
SGTM

[2018-08-20 14:51] #198 closed

[2018-08-20 14:51] #209 closed

[2018-08-21 12:10] Drieger commented on #179
I started working on a prototype, using the [rang](https://agauniyal.github.io/rang/) library. Any any thoughts and ideas are  welcome.

Current work: https://github.com/nodejs/llnode/compare/master...Drieger:start_colorization

[2018-08-31 12:13] #193 closed

[2018-08-31 12:13] #211 closed

[2018-09-02 14:29] cjihrig opened #226 "Upcoming metadata changes in V8 6.9"
The V8 6.9 update requires the following adjustments to the
postmortem debugging metadata constants:

- `v8dbg_class_SharedFunctionInfo__function_identifier__Object`
  Use: `v8dbg_class_SharedFunctionInfo__function_identifier_or_debug_info__Object`

- `v8dbg_class_SharedFunctionInfo__end_position__int`
  Use: `v8dbg_class_UncompiledData__end_position__int32_t`

- `v8dbg_class_SharedFunctionInfo__s

[2018-09-03 07:29] eladnava commented on #184
Make sure to change the `npm` global package installation directory as follows:
https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2018-09-03 13:48] mmarchini commented on #226
Related: https://github.com/nodejs/llnode/issues/202

[2018-09-04 19:20] Drieger commented on #195
A just created a PR [llnode/pull/227](https://github.com/nodejs/llnode/pull/227) to approach this issue. It seems that some Function-Variables are not referenced by any `Context` unless a nested closure references it.

The idea is to store all contexts and look in each one when we try to find references for an object.

[2018-09-09 12:21] mmarchini opened #228 "Suggestion: JavaScript/Simplified mode"
Thinking about the usability of llnode for JavaScript developers, showing native calls and memory addresses can be intimidating. Maybe we could have a JavaScript-only mode, which shows objects by an unique identifier instead of their addresses (for example, Foo#3 instead of 0x00ffabcd34561) and only shows JavaScript frames on v8 bt. This could be the default mode (which would require a semver-majo

[2018-09-10 08:03] joyeecheung commented on #228
SGTM. We may also need to be able to translate the inspect call so that users can call inspect on JS symbols instead of addresses, otherwise you won't b able to investigate further beyond `v8 bt` when debugging.

[2018-09-10 19:34] mmarchini opened #230 "Cap the result of `v8 findjsinstances`"
The result from `v8 findjsinstances` can be massive, which makes output slow and also harder to read.

We could cap the number of objects returned by findjsinstances to 10 for example, and let the user ask for more objects if they want, either by flags -n/-h[ead]/-t[ail], or by calling the command again (I think that's how mdb_v8 works).

Example:

[code]

[2018-09-11 02:17] joyeecheung commented on #230
Is it possible to do a less-like pagination in lldb?

[2018-09-11 16:53] mmarchini commented on #143
Fixed by #215

[2018-09-11 16:53] #143 closed

[2018-09-17 12:47] mmarchini commented on #230
I don't think so, although it does have a simple paginate mechanism (I just don't remember which command uses it). If we want something more sophisticated, we'll probably have to write a CLI tool on top of llnode's API (which I have thought about several times).

[2018-09-17 15:17] joyeecheung commented on #230
I believe flags would be easier to implement. Paginating with repeat calls seems less user-friendly since it's easier to get lost

[2018-09-17 15:40] cjihrig opened #232 "Upcoming metadata changes in V8 7.0"
- `v8dbg_class_SharedFunctionInfo__script__Object`
  Use: `v8dbg_class_SharedFunctionInfo__script_or_debug_info__Object`

- `v8dbg_class_SharedFunctionInfo__function_identifier_or_debug_info__Object`
  Use: `v8dbg_class_UncompiledData__inferred_name__String` and
           `v8dbg_class_SharedFunctionInfo__name_or_scope_info__Object`

Refs: https://github.com/v8/v8/commit/c941f11abddf57844e9807503d

[2018-09-25 19:19] joyeecheung opened #234 "Give npm collaborator access to @mmarchini ?"
As the title says.

[2018-09-25 19:33] cjihrig commented on #234
Makes sense to me.

[2018-09-25 19:34] cjihrig commented on #234
Not to sidetrack this issue, but do rnchamberlain and hhellyer still require npm publish rights?

[2018-09-25 20:01] joyeecheung commented on #234
Oh right I think I forgot to mention other people who have npm collaborator access right now, sorry. So here it is: @rnchamberlain @hhellyer

[2018-10-01 17:39] mmarchini opened #236 "Simplify installation process"
I've been thinking about this for a while: llnode depending on having lldb and a compiler installed can discourage people from trying it. If we could make llnode installation work without having to install all those native dependencies (at least for most users), it would be a nice improvement.

I'm working on an npm package to provide lldb and liblldb binaries for several platforms. If it works ou

[2018-10-01 17:43] joyeecheung commented on #236
If this package is as what I am thinking about, are we using npm as a cross-platform package manager at this point? XD

[2018-10-03 21:39] mmarchini opened #237 "Inspect Promises"
Promises have a separate type (just like JSError). We need to add metadata on V8 for that and use it on llnode.

![image 2](https://user-images.githubusercontent.com/4048656/46440991-88633100-c73b-11e8-8597-98645cfc1f1c.png)

[2018-10-04 14:28] mmarchini opened #238 "Significant performance overhead on 2.0.0"
I'm trying to `v8 findjsobjects` on a ~1.6GB core dump. On v1.7.1 the command finishes after 1 minute whereas on v2.0.0 it's taking more than 10 minutes (couldn't finish one run yet). I'll try to provide a reproducible test case later.

[2018-10-04 14:49] mmarchini commented on #238
This regression was introduced in 089dcc9 (which makes sense since my code is OOMing because of a recursive function). Hopefully, there's a way to optimize this.

[2018-10-04 22:18] mmarchini opened #240 "Make `v8 findjsinstanes` faster"
The first time we run `v8 findjsobjects` can be very slow. Maybe there's nothing we can do about it, but I think we can try to make it faster (at least a little bit).

I generated a flamegraph of a 1.6Gb core analysis, and most time we're running `LoadPtr` (which is kinda expected):

<img width="1191" alt="image" src="https://user-images.githubusercontent.com/4048656/46506301-26253180-c80a-11e8-91

[2018-10-05 14:50] mmarchini opened #241 "llnode team on GitHub"
A GitHub team will make it easier to ping us on llnode-related issues (for example: #234 and when postmortem tests break on [nodejs/node-v8](https://github.com/nodejs/node-v8)). Might also make it easier to manage permissions for the project.

Please chime in if you'd like to be included in this GitHub team :)

@joyeecheung @indutny @cjihrig @bnoordhuis @rnchamberlain @hhellyer

[2018-10-05 15:02] joyeecheung commented on #241
I am interested

[2018-10-05 17:08] #179 closed

[2018-10-05 18:45] mmarchini opened #242 "Landing PRs policy"
I just realized we don't have a policy for landing Pull Requests and I guess most of us are assuming Node.js core policies here: at least one approval + wait 48/72 hours. Considering the project has only a few collaborators, I don't think this policy is adequate since it usually takes weeks to get approvals.

Inspired on recent discussions about PR waiting time on Node.js core (https://github.com/

[2018-10-06 01:11] richardlau commented on #242
The one advantage of following the same rules as core is that the associated tooling (i.e. `node-core-utils`) should just work. That's not to say we couldn't teach ncu different rules for different projects (but then we'd have to make sure it applied the correct rules).

[2018-10-06 12:42] mmarchini commented on #242
`node-core-utils` already have problems with llnode: it complains because there's no CI run (we're not using Jenkins yet) and users have to use `ncu-config` to make ncu look into Node.js README for the list of collaborators (which doesn't make sense, llnode collaborators are not necessarily Node.js collaborators). Thus I don't think this should be a reason to keep following core's policy.

By the

[2018-10-06 19:47] joyeecheung commented on #242
@mmarchini You maybe looking for the `./.ncu/` directory as that's where ncu-config serialize per-project configurations already? (e.g. `ncu-config set repo llnode` is serialized in `./ncu/config`). Also, PRs to refactor the PR checker in ncu (ideally configurable through rules like what you described) is very welcomed!

The llnode collaborators are still a subset of node collaborators at the mome

[2018-10-09 19:32] joyeecheung commented on #234
I think we have left this issue open for enough amount of time.

Judging from https://www.npmjs.com/package/linux-perf I invited @mmarchini to the npm collaborators (let me know if I messed up).

[2018-10-09 23:33] mmarchini commented on #234
I think it worked. Thanks!

[2018-10-09 23:39] richardlau commented on #234
Wasn't this for https://www.npmjs.com/package/llnode?

[2018-10-10 06:10] joyeecheung commented on #234
@richardlau I meant judging that the npm handle @mmarchini is releasing a package under @mmarchini 's github I believe that npm handle also belongs to @mmarchini (instead of somebody who happens to be using the same handle)

[2018-10-10 06:11] joyeecheung commented on #234
Also I believe this can be closed now!

[2018-10-10 06:11] #234 closed

[2018-10-11 19:33] joyeecheung commented on #242
@mmarchini We could have `.ncu/something` committed into the tree, and ask users to put something like

[code]

into their global git configs. But yeah it also make sense to make this a top-level file. Maybe `.ncuattributes`? (Thinking along the lines of `.gitattributes`)

[2018-10-12 21:22] mmarchini commented on #242
@joyeecheung `ncu` changes aside, what do you think about the proposed policy?

[2018-10-12 21:28] joyeecheung commented on #242
@mmarchini IIUC, the proposed policy allows PRs to be merged without reviews after it is open for 72 hours? I don't feel quite comfortable with this, considering there are actual users of this project who are not our collaborators, to be honest..

[2018-10-12 21:34] mmarchini commented on #242
That sounds reasonable to me.

[2018-10-16 19:32] mhdawson commented on #242
I guess only collaborators can land PRs.  Maybe something like allowing a collaborator to approve their own PR after 7 days ...

[2018-10-25 17:07] Drieger opened #245 "llnode warnings during compilation process"
Current compilation process throws some warnings. Wouldn't it be a good approach to prevent merge of PRs that introduce new warnings? Or maybe add it to the test pipeline?

Current warnings are as follow:
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2018-11-09 17:46] #218 closed

[2018-11-30 02:27] mmarchini opened #249 "Tests fail on Linux if gcore is not installed (with misleading message)"
Message was really not helpful:

[code]

We should check if gcore is installed and skip otherwise.

[2018-11-30 02:43] mmarchini opened #250 "Error stack inspection is broken on v6.x for most scenarios"
Tested on Node.js v6.15.0. The issue can be reproduced with a core dump generated with the following command:

`node --abort-on-uncaught-exception -e "let n = new Error(); throw new TypeError()"`

Neither `Error` nor `TypeError` are displaying the stack trace on 6.x.

For `TypeError` the problem is how llnode ~guesses~ determines the object is an Error on v6.x: https://github.com/nodejs/llnode/blo

[2018-12-06 12:02] Drieger commented on #249
@mmarchini how can I trigger the error? I'm trying to reproduce it, but even after moving `gcore`

[code]
 all tests passed

[code]

[2018-12-10 16:36] mmarchini opened #251 "Logo missing on npm page"
![image](https://user-images.githubusercontent.com/4048656/49746724-ef93e900-fc88-11e8-8ea5-b7b99343c4e8.png)

[2018-12-13 23:52] DonutEspresso opened #253 "Improved message for inspection of empty objects"
Right now, when you try to inspect an empty object, this is what you see:

[code]

This is a bit confusing, upon further inspection it looks like `0x000038e4d66492e1` is an empty object, `{}`. A more user friendly message could be very helpful.

PS. Big thanks to all the contributors on this project. Has been a lifesaver on multiple occasions.

[2018-12-19 08:58] zhengboah opened #254 "terminate called after throwing an instance of 'std::bad_alloc'"
node: 8.9.0

core size: 1.2G

terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
Stack dump:
   0.	HandleCommand(command = "v8 findjsobjects")

what is the reason about the above?

[2018-12-19 12:54] mmarchini commented on #254
Hi @zhengboah,

Thank you for filing this issue. `std::bad_alloc` can happen for a number of reasons (for example, out of bound memory access). This seems like a llnode bug.

Can you share a little more information?

**llnode version**: ??
**Operating System**: ??

Also, it might be worth trying to run llnode in debug mode. Install a debug build of llnode with `npm install -g llnode --debug` (the

[2018-12-20 02:14] zhengboah commented on #254
**llnode version**: 4.0.0
**OS**: Ubuntu 16.04.2 LTS

I tried again with debug , and the output is below:

[llv8] Failed to find symbol v8dbg_class_Map__instance_type__uint16_t
[llv8] Failed to load constant class_Map__instance_type__uint16_t, default to -1
[llv8] Failed to find symbol v8dbg_FirstContextType
[llv8] Failed to load constant FirstContextType, default to -1
[llv8] Failed to find symbo

[2018-12-21 17:04] #238 closed

[2018-12-21 17:08] #156 closed

[2018-12-21 19:23] cjihrig opened #255 "Upcoming metadata changes in V8 7.2"
The V8 7.2 update requires the following adjustments to the postmortem debugging metadata constants:

- `v8dbg_prop_idx_first` was removed in v8/v8@1ad0cd5

- `v8dbg_jsarray_buffer_was_neutered_mask` was renamed to `v8dbg_jsarray_buffer_was_detached_mask` in v8/v8@f68ee6e

- `v8dbg_jsarray_buffer_was_neutered_shift` was renamed to `v8dbg_jsarray_buffer_was_detached_shift` in v8/v8@f68ee6e

- `v8db

[2019-01-25 10:50] mmarchini opened #265 "Standardize commands output format for all object types"
tl;dr: I think we should standarize the output for all types into JSON format. The default output should hide V8 implementation details and should only show properties and elements accessible via JavaScript. A detailed mode would then expose a limited set of implementation details.

---

I would like to propose some changes to how we print objects in llnode commands. Today, every object type print

[2019-01-29 22:15] joyeecheung commented on #241
@mmarchini I don't think so. I've created `nodejs/llnode` under the post-mortem team and invited people listed in the OP and given it write access to this repo.

[2019-01-29 22:15] #241 closed

[2019-01-30 15:34] Drieger opened #267 "ECONNRESET using findrefs -s"
I added test cases to the command `findrefs -s` and it happens that once in a while an ECONNRESET error is thrown.

[code]

The following diff shows what was changed

[code]

To run the test until the error occurs the following script was used

[code]

The error was reproduced in the following environment:
**Node.js version**: v6.16.0
**OS version**:  Ubuntu 16.04
**Kernel**: 4.15.0-43-generic #46

[2019-02-08 11:27] #138 closed

[2019-02-22 15:00] mmarchini opened #270 "PSA: Travis settings chage - Auto cancel pull request builds"
I enabled "Auto cancel pull requests builds" to speed up build time in Pull Requests when the user pushes a new change before the old build finished:

![image](https://user-images.githubusercontent.com/4048656/53250437-275fd980-3699-11e9-9a39-e444228184fd.png)

[2019-02-26 13:49] mmarchini commented on #242
I like this idea @mhdawson. I'll open a PR to document this and cc `@nodejs/diagnostics` there.

[2019-03-05 12:05] mmarchini commented on #115
Fixed by #244 as `v8 findrefs -r`. Thank you @Drieger 🎉

[2019-03-05 12:05] #115 closed

[2019-03-05 13:02] mmarchini opened #274 "Tracking Issue: Move JS API out of experimental"
- [ ] `v8 findrefs` equivalent
  - List of retainers as a property of heap instances?
- [ ] `v8 bt` equivalent
- [ ] `v8 getactivehandles` and `v8 getactiverequests` equivalent
  - Maybe as a property of the process info
- [ ] Represent `value` for heap instances as objects instead of strings
- [ ] Documentation

Those are the things I noticed missing while playing with the JS API. Feel free to ed

[2019-03-05 13:09] mmarchini commented on #274
I think JavaScript developers will expect `getProcessObject` to return Node.js' process object for the core dump instead of a `SBObject` representation. Maybe we could have lldb-related methods inside a `LLDB` class?

[2019-03-13 08:52] joyeecheung commented on #274
Is it even possible to recreate that? process is fairly complex with lots of interceptors/getter/setters. We could return something based on best-effort but it will be pretty far away from the actual process object.

[2019-03-13 08:54] joyeecheung commented on #274
Maybe we should merge `getProcessInfo` with `getProcessObject`, and just use the name `getProcessInfo`.

[2019-03-13 09:00] joyeecheung commented on #274
I'd also add

- Progress reporting when scanning the heap

It's kind of bad that `getHeapTypes()` could stuck for minutes when being called for the first time. Less of a big deal for the LLDB console because you are already interacting with an interface. I suppose to add progress reporting we would need to break the current API design, e.g. make it async.

[2019-03-13 12:53] mmarchini commented on #274
I meant a representation of the process object (at least some key information), not the actual object. We already use some heuristics for `v8 nodeinfo`, maybe we could just expose the information from that command in a structured manner.

Yep, making the API async sounds like a good idea. I'll add that to the roadmap.

[2019-03-28 13:03] cjihrig opened #277 "Upcoming metadata changes in V8 7.4"
The V8 7.4 update requires the following adjustments to the postmortem debugging metadata constants:

- `v8dbg_class_FixedTypedArrayBase__external_pointer__Object`
  - Type changed in https://github.com/v8/v8/commit/f70bb59b57e2a66f165a728c1799e36ceb0e9fc8#diff-f3f182b0510ba2ee39ae87e421ff110b.
  - Use `v8dbg_class_FixedTypedArrayBase__external_pointer__uintptr_t`
- `v8dbg_class_JSArrayBuffer__bac

[2019-04-01 23:35] mmarchini commented on #277
Related change: https://github.com/v8/v8/commit/9a149afc28055e36b00e978b78ccb8f9acc15b60

(I should start to update our Node.js postmortem tests when I use new constants here :stuck_out_tongue: )

[2019-04-02 15:20] watson commented on #195
Wasn't this addressed in #227?

[2019-04-02 20:43] mmarchini opened #278 "Flaky findrefs test on Node.js 10"
Has been happening a lot lately:

[code]

[2019-04-02 20:44] mmarchini commented on #195
Yes. I was keeping this open as a reminder to show stack locals in findrefs, but I'm not even sure it's possible. Closing.

[2019-04-02 20:44] #195 closed

[2019-04-15 17:52] cclauss opened #279 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-22 20:13] mmarchini opened #280 "JSError stack inspection won't work on newer V8 versions"
V8 stopped using JSArrays to store the stack in https://chromium-review.googlesource.com/c/v8/v8/+/1564060. Now the stack is stored in a raw FixedArray. We'll need to change our heuristics to handle this.

[2019-05-09 20:53] mmarchini opened #281 "`v8 bt` not working on lldb 4.0, but working on 6+"
Stumbled on this issue today, but I'm not sure what's causing it. Creating an issue so I don't forget to look into it. Will try to come up with a small reproducible example later.

[2019-05-09 20:56] mmarchini opened #282 "Can't install with LLDB 7.1"
Our install script tries to fetch branch `release_71` from `llvm-mirror/lldb`, but this branch doesn't exist (there's a `release_70` though).

[2019-06-03 16:35] cjihrig opened #283 "Upcoming metadata changes in V8 7.6"
The V8 7.6 update requires the following adjustments to the postmortem debugging metadata constants:

- `v8dbg_class_FixedTypedArrayBase__base_pointer__Object`
  - Field moved from FixedTypedArrayBase to JSTypedArray.
  - Postmortem tools should use `v8dbg_class_JSTypedArray__base_pointer__Object`.
  - Refs: https://github.com/v8/v8/commit/70bd7cf0ef618621c16ae3f5ba2db614ac8ef996

- `v8dbg_class_F

[2019-07-12 22:04] robey commented on #254
This happens with every corefile I try, even if it's only 700MB.

Does llnode work for anyone else?

[2019-07-18 20:47] anil9t5 commented on #213
I have forked the repo and wanted to use the forked version of llnode with lldb.

[2019-07-19 10:14] joyeecheung commented on #213
cd into the llnode directory and do an npm link should do the trick.

[2019-07-19 11:45] anil9t5 commented on #213
thanks that worked, I got an issue so first I had to do "npm install --unsafe-perm" and then I was able to do "npm link"

[2019-08-07 08:40] watson opened #286 "brew install: unknown option --with-lldb"
If I use the following `brew install` command from the readme:

[code]

I get the following error:

[code]

Here's the result of my `brew info llvm`:

[code]

[2019-08-07 08:48] watson commented on #286
I think the answer is here: https://twitter.com/gibfahn/status/1159020612037332992

[2019-08-07 15:19] anil9t5 commented on #194
I was looking into this and I having difficulty to figure out from where is the "lldb version X.X.X" is being outputted on the console when I run "llnode -v" etc

[2019-08-07 15:33] anil9t5 commented on #251
I was looking to work on fixing this. I am not sure where to edit this.

[2019-08-07 16:32] anil9t5 commented on #251
@mmarchini I wanted to look into this issue, but I don't know where to make the changes.

[2019-08-07 17:16] cjihrig opened #287 "Upcoming metadata changes in V8 7.7"
The V8 7.7 update requires the following adjustments to the postmortem debugging metadata constants:

- v8dbg_class_ConsString__first__String
  - Class is now generated via torque.
  - Postmortem tools should use v8dbg_class_ConsString__first_offset__int
  - Refs: v8/v8@14274bb

- v8dbg_class_ConsString__second__String
  - Class is now generated via torque.
  - Postmortem tools should use v8dbg_cl

[2019-08-07 17:31] bartlomieju opened #288 "[help] Using llnode with Deno"
I'm trying to use `llnode` to debug [deno](https://github.com/denoland/deno).

I do realize that's not the scope of this lib, but I hope you guys might be able to help.

Unfortunately backtrace using `v8 bt` gives exactly same output as `backtrace`, neither `v8 findjsobjects` nor `v8 source list` work.

Here's my excerpt from my building config:
[code]

Here's output from `llnode`:
[code]

I assum

[2019-08-07 20:02] mmarchini commented on #288
This might be due to an unsupported V8 version. Which V8 version is your deno using?

[2019-08-07 20:08] bartlomieju commented on #288
@mmarchini we're currently running V8 7.7.200

[2019-08-07 20:16] cjihrig commented on #288
That version is not yet supported. Take a look at the issues in this repo labeled V8 Changes... you'll see llnode is increasingly drifting behind.

[2019-08-07 20:21] bartlomieju commented on #288
@cjihrig duh! Thanks for the tip, my bad. Closing this issue for now.

[2019-08-07 20:21] #288 closed

[2019-08-07 20:27] mmarchini commented on #288
Hopefully in the future we can leverage the new postmortem API which landed in V8 a few days ago (https://chromium-review.googlesource.com/c/v8/v8/+/1717090), but right now llnode is only work to V8 versions up to 6.8.

[2019-08-17 03:09] lcw0622 opened #289 "Could not find any usable lldb executable"
An error occured while executing `npm install -g llnode`, and I had already installed `lldb`. There is output:
[code]
I find the reason :
preinstall script `scripts/linux.js` use command `which` to locate command `lldb`'s path in function `tryExecutables`, but in Centos core version, they only use `whereis`. So I'm doubt is it necessary to add `whereis` support?

OS: CentOS Linux release 7.2.1511

[2019-08-17 03:19] lcw0622 commented on #289
And `whereis` execute in CentOS results:
[code]

[2019-08-28 02:14] fudgelin opened #290 "Installation failed under centos7"
[code]

[2019-08-28 06:36] bnoordhuis commented on #290
Start npm with `--unsafe-perm`. npm by default drops privileges before executing llnode's build script.

[2019-08-30 02:27] fudgelin commented on #290
@bnoordhuis thanks.but i have a new problem.
[root@vm ~]# npm install --unsafe-perm -g llnode

Build dir is: /usr/local/node-v8.9.1-linux-x64/lib/node_modules/llnode
Looking for lldb executable...
Found lldb executable /usr/bin/lldb

Reading lldb version...
Installing llnode for /usr/bin/lldb, lldb version 3.4

Looking for llvm-config for lldb 3.4...
No llvm-config found

Looking for headers for l

[2019-08-30 10:57] bnoordhuis commented on #290
You need lldb 3.9 or newer. Check the readme for more details.

If upgrading lldb isn't an option for you, you could try installing an old version of llnode. I don't remember off the top of my head what release supported 3.4 but I'm pretty sure none of the v2.x releases do.

[2019-09-10 21:47] #270 closed

[2019-09-10 22:54] #242 closed

[2019-09-20 00:56] joyeecheung commented on #289
Add fallback with `whereis` for CentOS sounds good. Do you mind sending in a PR?

[2019-09-20 01:02] joyeecheung commented on #286
Maybe we should just remove that recommendation (AFAIK it still works if you specify llvm@6? But using that doesn't look like a good idea). I am using the Xcode lldb these days and it seems fine.

[2019-09-23 18:30] mmarchini commented on #278
Not a flaky test, this is actually a bug with (apparently) `findrefs`.

[2019-09-25 21:02] mmarchini opened #298 "`maybe-uninitialized` warning in gcc"
It does indeed. Maybe there's a better way to write that piece of code which will prevent the warning though? I'll open an issue.

_Originally posted by @mmarchini in https://github.com/nodejs/llnode/pull/297#issuecomment-534589385_

[2019-09-25 21:03] mmarchini opened #299 "`unused-but-set-variable` warning in GCC"
That looks wrong... I'm pretty sure I stumbled on this piece of code a few times and didn't change for a reason. I'll open an issue to investigate it further.

_Originally posted by @mmarchini in https://github.com/nodejs/llnode/pull/297#issuecomment-534589385_

[2019-09-25 21:06] #278 closed

[2019-09-27 19:43] mmarchini commented on #202
Fixed by #247

[2019-09-27 19:43] #202 closed

[2019-09-27 19:43] mmarchini commented on #226
Fixed by #247

[2019-09-27 19:43] #226 closed

[2019-09-27 19:43] mmarchini commented on #232
Fixed by #247

[2019-09-27 19:43] #232 closed

[2019-09-30 23:11] mmarchini commented on #255
FYI we'll have to add some constants for DescriptorArray now that it is a HeapObject and not a FixedArray. I'll send a PR to V8 today or tomorrow.

[2019-10-01 06:01] cjihrig commented on #255
@mmarchini if you add new constants, can you also PR them to Node's postmortem metadata test? I think that makes it a lot easier to know when things are going to break. Alternatively, if you don't want to update the test, just point me to the new constants and I can add them myself.

[2019-10-01 14:15] mmarchini commented on #255
I'll update the metadata test once https://chromium-review.googlesource.com/c/v8/v8/+/1832311 lands on core :+1:

[2019-10-01 19:37] mmarchini opened #304 "Cleanup build flags"
From our ci:

(https://travis-ci.com/nodejs/llnode/jobs/240607109)

-std is defined 3 times (two times as c++11 and one time as gnu++0x). That doesn't look right. The OSX tests are failing on that job because it's failing to infer the correct method based on the argument and return types... It works on Linux though (and I tried gcc, clang6 and clang9 on Linux, all working), it could be because of

[2019-10-03 04:30] mmarchini opened #306 "Handle <adaptor> frames correctly on Node.js v12"
On Node.js v12.3 (with #302 and #301 and some other changes I'll submit tomorrow):

[code]

It should be:

[code]

This is happening because FP is the same for frame 9 and frame 8. I think this is due to this commit: https://chromium-review.googlesource.com/c/v8/v8/+/1488751

From a quick skim, this PR seems to make the <adaptor> frame behave like `-fomit-frame-pointer`. If that's the case, I woul

[2019-10-03 04:35] mmarchini commented on #306
This is interesting. If I change our `frame-scenario.js` fixture to:

[code]

I get:

[code]

Which again is not what I was expecting to happen.

[2019-10-03 05:28] mmarchini commented on #306
Another change to `frame-scenario.js` (after reading https://docs.google.com/document/d/156nh17BpyLNmDmONyC_ZQUbi0h6goNysds2DLXcAzVc/preview#):

[code]

And I get:

[code]

Which is what I was expecting in the previous comment. So the first time `eyecatcher` runs, V8 doesn't have enough information to decide if it should include a `<adaptor>` frame or not. Interesting. So what's causing the issue?

[2019-10-03 14:28] mmarchini commented on #306
The unwind diagnostic output confirms that the problem is lldb's unwinding. There's a stack trace there using a simple stack walker, and it shows the <adaptor> frame correctly.

[2019-10-03 14:53] mmarchini commented on #306
The issue is fixed on LLDB 8. Closing.

[2019-10-03 14:53] #306 closed

[2019-10-03 14:58] mmarchini opened #307 "Bump minimum LLDB version to 8 on next major"
The unwinding algorithm used by lldb had a bug up to lldb 7 which would prevent proper unwinding of <adaptor> frames on Node.js 12 (#306). The issue is fixed on lldb 8 though. Since there isn't much we can do on our side to fix the issue, I suggest we increase the minimum suggested lldb version to 8. We might even want to throw a warning to users using an older version.

We might need to suggest L

[2019-10-03 16:47] mmarchini opened #309 "Promisify tests"
Title says it all :)

[2019-10-03 16:48] mmarchini opened #310 "eslint tests"
We have linter for our source code, but not for tests. Would be nice to have linter for tests as well.

[2019-10-03 16:54] mmarchini commented on #250
v6.x is not supported anymore. Closing

[2019-10-03 16:54] #250 closed

[2019-10-03 17:01] mmarchini opened #312 "Use GitHub actions to test instead of Travis?"
Travis takes ~30 minutes to run due to low palatalization of jobs (3 concurrent jobs, and they usually take a few minutes to start). GitHub Actions limit seems to be 20. Might be worth giving it a try.

[2019-10-03 17:08] richardlau commented on #312
re. the `good first issue` label -- it seems from [similar PRs to use GitHub actions](https://github.com/nodejs/remark-preset-lint-node/pull/24#issuecomment-534923604) in other repos on the org the Actions can only be triggered on the PR if the branch is in the same repo (i.e. from someone with write access).

[2019-10-03 17:15] mmarchini commented on #312
Seems like they fixed it though:

Ref: https://github.community/t5/GitHub-Actions/Run-a-GitHub-action-on-pull-request-for-PR-opened-from-a-forked/m-p/31147/highlight/true#M690

[2019-10-03 17:19] mmarchini commented on #312
Also, this pull request https://github.com/nodejs/remark-preset-lint-node/pull/21 is from a fork, and the action ran successfully, so it should work :)

[2019-10-03 17:22] richardlau commented on #312
I mean the initial PR that adds the actions. Once added they run for PR's from other forks as expected. See https://github.com/nodejs/remark-preset-lint-node/pull/24#issuecomment-534923604 and subsequent replies.

[2019-10-03 17:38] mmarchini commented on #312
Ah, gotcha. Removing the `good first issue` label then.

[2019-10-04 22:55] mmarchini commented on #277
This seems related as well: https://chromium-review.googlesource.com/c/v8/v8/+/1278014

[2019-10-08 21:14] mmarchini commented on #287
Interesting, the type of those fields didn't change, but they are all prefixed by `__int`. Is the metadata generated for Torque classes prefixed by the the metadata type instead of the field type? That's probably not a good idea, if a field type changes it wouldn't reflect on the metadata name, and we wouldn't have a way to check the type on llnode...

[2019-10-08 22:25] mmarchini commented on #287
`class_Symbol__name__Object` was removed as well, I'm guessing in this version. Still investigating.

[2019-10-08 23:19] mmarchini commented on #287
So I renamed the String metadata back to their previous names in: https://chromium-review.googlesource.com/c/v8/v8/+/1847783. I also added the missing metadata for symbols. Will update the tests once this is merged to core.

[2019-10-08 23:25] mmarchini commented on #287
If the above gets merged, no changes will be necessary on llnode for 7.7 (and then we can close this issue). I already have patches to fix 7.2, 7.4 and 7.6 (I haven't opened PRs with all of them yet because some are blocked by #303), so once the metadata lands upstream and is backported to core, we'll have llnode working on Node.js v12 :)

[2019-10-08 23:41] mmarchini opened #317 "Upcoming metadata changes on V8 7.8"
[code]

[2019-10-08 23:41] mmarchini commented on #317
cc @cjihrig did you have a chance to send these changes upstream?

[2019-10-08 23:44] cjihrig commented on #317
Not yet. I need to upstream this commit specifically: https://github.com/nodejs/node/commit/8d05991d1089563d0073628951fbf44afada0d68

[2019-10-09 20:56] mmarchini opened #319 "Highlight (wth color) the address of functions on v8 bt"
As title says

[2019-10-24 08:56] danny-su opened #321 "Cannot install on Windows."
if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" build /p:CLToolExe="clang-cl.exe" /p:CLToolPath="C:\Program Files\LLVM\bin" )  else (node "C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" **build /p:CLToolExe="clang-cl.exe"** /p:CLToolPath="C:\Prog

[2019-10-25 20:04] SpeedyCraftah opened #322 "terminate called after throwing an instance of 'std::out_of_range'  "
i am getting
terminate called after throwing an instance of 'std::out_of_range'  
when doing v8 findjsobjects

[2019-12-29 07:02] hyj1991 commented on #322
Set `ulimit -c unlimited`, and then run `v8 findjsobjects`, it'll create a core dump file automatic when terminated (usually xxx.core).

Run `llnode node -c xxx.core` and `v8 bt` and see the terminated backtrace.

[2020-01-09 18:42] #312 closed

[2020-01-12 03:19] phantom9999 opened #328 "llnode don't support nodejs v12"

[2020-01-13 18:59] mmarchini commented on #328
https://github.com/nodejs/llnode/pull/318 have most of the changes needed for llnode to work with future v12 releases (we still need https://github.com/nodejs/node/pull/30870 to be merged and released on Node.js v12, otherwise llnode won't have enough information to reverse engineer v12 core dumps/memory)

[2020-01-16 21:54] mmarchini opened #331 "Upcoming metadata changes on 7.9"
These will be added in #330, but they were removed or renamed on 7.9:

- 'v8dbg_class_FixedTypedArrayBase__base_pointer__Object',
- 'v8dbg_class_FixedTypedArrayBase__external_pointer__Object',
- 'v8dbg_class_FixedTypedArrayBase__external_pointer__uintptr_t',
- 'v8dbg_class_JSArrayBuffer__backing_store__Object',
- 'v8dbg_class_JSArrayBuffer__byte_length__Object',
- 'v8dbg_class_JSArrayBufferView__r

[2020-01-20 06:14] hyj1991 opened #333 "Wrong instance_size?"
If the **map** here is `JS_MAP_TYPE`,  I think maybe the `instance_size` should be:

[code]

[2020-01-20 18:53] mmarchini commented on #333
When the code gets here it should already be a `v8::Map`, but maybe we're missing some corner case here. `JS_MAP_TYPE` _should_ fall under https://github.com/nodejs/llnode/blob/master/src/printer.cc#L655. Did you hit an issue with it? If so, can you share a small snippet with a reproducible (or more info)?

(`JS_MAP_TYPE` is https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_

[2020-01-21 01:19] hyj1991 commented on #333
Thanks for your reply :)

Indeed so. But if it already is a v8::Map, why should we judge here whether it is a `js object map`: https://github.com/nodejs/llnode/blob/master/src/printer.cc#L478

[code]

`kFirstJSObjectType` is `v8dbg_type_JSGlobalObject__JS_GLOBAL_OBJECT_TYPE` (in reality `JS_GLOBAL_OBJECT_TYPE`), and I see `JS_MAP_TYPE` (src/objects/instance-type.h) is larger than `JS_GLOBAL_OBJECT

[2020-01-21 22:52] mmarchini commented on #333
I'll have to take a closer look to answer your questions (I'm going on vacation today, so I'll try to answer it when I'm back around late-Feb)

[2020-01-22 01:05] hyj1991 commented on #333
Thanks a lot :)

[2020-02-10 18:32] mmarchini opened #334 "Command to find object by key/value pair"
Similar to `v8 findrefs -n`, but it would take a property name and the value. This can help narrow down the search when there's a lot of objects, but we're looking only for those with a particular value.

[2020-02-10 18:53] mmarchini commented on #334
More sophisticated queries would also be interesting, for example: find all objects with value `"bar"` in key `foo` and without the key `biz`.

[2020-02-11 22:15] mmarchini commented on #328
Closing as llnode 3.0.0 supports Node.js v12.x

[2020-02-11 22:15] #328 closed

[2020-02-12 00:12] mmarchini opened #335 "Make the V8-related code lldb-agnostic"
Most of the code we have on llnode doesn't have to be tied to lldb. We use lldb entirely for memory access (either on a core dump or living process). If we separate the code, providing an interface that can be implemented, we could provide multiple backends for llnode. For example, we could keep the lldb build and provide a smaller build in Webassembly using libelf and our own REPL to read the cor

[2020-02-13 20:32] mmarchini opened #337 "Warnings should not be emitted if constant is expected to be missing"
Some constants are expected to be missing in some versions, but they'll warn anyway. This is problematic because it pollutes the warnings, making it harder to know when a constant is *actually* missing. Missing constants should still warn when they are expected to be missing, but they should fail silently otherwise.

[2020-02-13 20:33] mmarchini opened #338 "Tests should work with d8"
Except for Node.js specific features (`v8 workqueue`), tests should work with d8 as well. Maybe they do, but I never tried it, so I'm opening this issue to investigate.

[2020-02-17 20:54] mmarchini commented on #334
Just came across a real world example where this would be useful: find all ServerResponse objects where `.statusCode=400`. I imagine finding requests/responses based on field values is a common use case when debugging servers.

[2020-02-17 21:19] mmarchini opened #340 "PSA: repository tracking V8 postmortem changes"
I created a repository to keep track of V8 postmortem metadata changes (https://github.com/mmarchini/llnode-v8-tester). The repository uses daily GitHub Actions to build `d8` and will create an issue every time metadata changes are detected. In the future I hope to add some llnode integration tests there as well (run llnode test suite against the latest build of `d8`).

This is not intended to rep

[2020-02-17 21:19] mmarchini commented on #340
cc @cjihrig as this might be of your interest

[2020-02-17 21:43] cjihrig commented on #340
That's great. Thank you.

Just so I know where to watch... will the issues be created here, the llnode-v8-tester repo, or somewhere else?

[2020-02-17 22:01] mmarchini commented on #340
On llnode-v8-tester. My idea is to use information from issues there to open issues here manually, after triaging which metadata change are relevant for llnode.

[2020-02-17 22:54] mmarchini commented on #340
We could even improve the code on that repository to also print all symbols llnode is able to load from a d8 binary. If there are changes in this list between two versions, those changes will likely impact llnode.

This could be implemented on llnode as:
1) Keep a cache of all symbols successfully loaded
2) Expose a command (could be available only on debug) to run `::Load` on all Constants classe

[2020-02-18 00:39] mmarchini opened #341 "Introducing bison as a dependency"
For two features I have in mind (arbitrary accessors #314 and queries for findjsinstances #334) it would be useful to have a lexer/parser integrated on llnode. One of the most popular is bison. Introducing it as a dependency without carrying that to our users can be tricky, but I think it can be done if:

1) we only require bison for development
2) when publishing, we generate .cc files from the l

[2020-02-18 09:13] joyeecheung commented on #340
I believe currently when `LLNODE_DEBUG=true` is set the failures can be grepped from stderr when the tests are run?

[2020-02-18 09:22] joyeecheung commented on #341
How powerful should the grammar of the expression we support be? If we only support the dot and bracket access operators it seems to be a somewhat overkill to introduce bison. But again if it turns out to require, say, > 200 lines to parse this then including bison sounds fine to me.

[2020-02-18 16:43] mmarchini opened #342 "`v8 bt` segfaults on latest V8"
The bug is not on llnode, but it breaks `v8 bt`, so I'm keeping this open to track. lldb GetDescription broken on latest V8 without pointer compression. Not sure where to fix it, but we should probably mitigate on llnode as well

[2020-02-18 17:07] mmarchini commented on #340
The problem with tests to detect metadata change is that they might not run every command (if a test step fail, for example), and ::Load is only called when needed (so some Constants classes would never be called).

[2020-02-18 21:55] mmarchini commented on #341
#314 has a draft parser for `.attribute` and `[0-9]`, it doesn't take into account things like `["foo bar"]`. I'm also sure it has bugs, because I implemented it as a proof-of-concept only.

For findjsinstances queries, we could have a complex grammar with `!`, `&&`, `||`, `==`, `!=`, etc., in which case the parser would probably be over 200 lines. Not sure if we want something so complex though.

[2020-03-11 19:45] mmarchini opened #345 "Backport gen-postmortem-metadata fix for missing constants"
Several constants are missing on v13 (and will be missing on v14) due to V8 moving to Torque. There's already a patch upstream to fix this, but it needs to be backported to 8.1 to be included on v14.

[2020-03-12 17:22] Yanpas commented on #165
`sudo npm install --unsafe-perm -g llnode` helped

[2020-03-16 18:30] mmarchini commented on #165
Closing due to inactivity. Please comment if the issue persists on latest llnode.

[2020-03-16 18:30] #165 closed

[2020-03-25 03:46] Jamy325 opened #346 "crash when run v8 i -l"
[code]

[2020-03-25 10:01] bnoordhuis commented on #346
Thanks for the report. Does this patch fix it for you?
[code]

[2020-03-25 22:13] #346 closed

[2020-03-25 22:24] mmarchini opened #348 "Action to publish to npm when new tag is pushed on GitHub"
Not sure if it will be possible since we have 2FA on npm, and we'd probably want to use the foundation's Node.js account on npm for that, but it's worth looking into.

[2020-03-27 19:26] No9 opened #350 "Install Fails for LLDB-10"
FYI - It looks like https://github.com/llvm-mirror/lldb.git doesn't have a release_100 branch that maps to lldb-10.
So the error below gets thrown.

Does it need a patch to warn the user in a friendlier way?
Not 100% about the release cadence on the llvm mirror

[code]

[2020-03-27 19:30] mmarchini commented on #350
I might have a patch to fix it (had a similar problem with lldb 7.1).

[2020-03-27 21:26] No9 commented on #350
Thanks @mmarchini - I've down graded to 9 for now so it's not urgent
if you have something already then ill let you land it.
Happy to test if you would like a second pair of eyes.

[2020-03-27 23:52] mmarchini commented on #346
@Jamy325 should be fixed in the latest version (3.1.0).

[2020-03-28 01:21] mmarchini opened #353 "Double-check unused Double Field code"
The if branch on https://github.com/nodejs/llnode/blob/master/src/llv8.cc#L1178-L1202 is essentially a noop: `double value` is set but never used, since we'll always return `Value()`. Not sure if we should be returning `double value` or if we can remove this code.

[2020-04-02 06:46] bzoz commented on #321
Please provide the entire, verbose log (add `--verbose` to the npm command). Put it inside triple ticks so the formatting works:
<pre>
[code]
</pre>
Also: what's your Windows version and Visual Studio version?

[2020-04-02 13:29] jlevon opened #355 "npm install fails with Ubuntu 18.04, lldb 6.0"
[code]

fails "npm install" (w or without --debug):

[code]

I had to use this diff:

[code]

[2020-04-02 22:43] mmarchini commented on #355
That seems like a new one (although I think I saw the `obj.target` error before). Which Node.js version are you on?

(I'm also not sure about having `node-gyp` installed globally, I usually leave it for packages to handle the node-gyp version they need)

[2020-04-02 22:53] mmarchini commented on #355
I'm confused actually, you got the error when trying to build with `--debug`, but the diff is changing a Release build related line. Did you run `npm install` instead of `npm install --debug` the second time?

[2020-04-02 23:06] jlevon commented on #355
$ node -v
v8.10.0

Before I realised what was going on (fall back to Debug), I thought it was a Debug/Release inconsistency.
So yes, the fix is for a run without --debug, sorry that wasn't clear.